/* All levels of nav */
.bs-sidebar .nav > li > a {
	display: block;
	color: #716b7a;
	padding: 5px 20px;
}
.bs-sidebar .nav > li > a:hover,
.bs-sidebar .nav > li > a:focus {
	text-decoration: none;
	background-color: #e5e3e9;
	border-right: 1px solid #dbd8e0;
}
.bs-sidebar .nav > .active > a,
.bs-sidebar .nav > .active:hover > a,
.bs-sidebar .nav > .active:focus > a {
	font-weight: bold;
	color: #563d7c;
	background-color: transparent;
	border-right: 1px solid #563d7c;
}

/* Nav: second level (shown on .active) */
.bs-sidebar .nav .nav {
	margin-bottom: 8px;
}
.bs-sidebar .nav .nav > li > a {
	padding-top:    3px;
	padding-bottom: 3px;
	padding-left: 30px;
	font-size: 90%;
}

/* Helpers */
.clear {
	clear: both;
}
.caption-table td.caption {
	font-weight: bold;
	width: 40%;
}

/* Forms */
.form-group {
}
.checkbox input[type="checkbox"] {
	width: 25px;
	border: none;
	box-shadow: none;
}
.checkbox input[type="checkbox"]:focus {
	border: none;
	box-shadow: none;
}
.form-group.radio-group label {
	font-weight: normal;
}
.form-group.radio-group label.control-label {
	padding-top: 0;
	font-weight: bold;
}
.form-group.multiple-select label.control-label {
	padding-top: 0;
}
.form-group.checkbox-group label.form-control {
	border: none;
	-box-shadow: none;
	-webkit-box-shadow: none;
	padding: 0;
	margin-bottom: 0;
	height: auto;
	font-weight: normal;
}
.form-group.checkbox-group label.form-control input {
	margin: 0;
}
.form-group.checkbox-group label.control-label {
	padding-top: 3px;
}
.form-group.datetime select {
	width: auto;
	display: inline;
}