/*
 * MIT license
 * https://bootsnipp.com/snippets/zD9xl
 */
html, body {
    height: 100%;
    width: 100%;
}

body {
    font-family: sans-serif;
    position: relative;
    color: #fff;
}

.in-page {
    min-height: 520px;
}

.main {
    position: relative;
    overflow: hidden;
}

a {
    color: #1b5a7c;
}

a:hover, a:focus {
    color: #1b5a7c;
}

.btn-cyan {
    background-color: #1b5a7c;
    color: #fff;
}

.btn-cyan:hover {
    color: #fff;
    opacity: 0.9;
}

.form-control:focus {
    border-color: #1b5a7c;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(24, 204, 162, 0.6);
    outline: 0 none;
}

.min-height {
    min-height: 380px;
}

.login-screen-vnc {
    background-image: url(/img/login_bg/spacex-71870.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.login-screen {
    /* background-image: url(/img/login_bg/spacex-71870.jpg);*/
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.login-screen:before {
    content: "";
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.login-screen > figure {
    animation: imageAnimation 30s linear infinite 0s;
    backface-visibility: hidden;
    background-size: cover;
    background-position: center center;
    color: transparent;
    height: 100%;
    left: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 0;
}

figcaption {
    position: absolute;
    bottom:0;
    left:15px;
    height:50px;
    line-height:50px;
    color: white!important;
    font-size:11px;
}

.login-screen > figure:nth-child(1) {
    background-image:  url('/img/login_bg/spacex-71870.jpg');
}

.login-screen > figure:nth-child(2) {
    animation-delay: 15s;
    background-image:  url('/img/login_bg/nasa-53884.jpg');
}

@keyframes imageAnimation {
    0% {
        animation-timing-function: ease-in;
        opacity: 0;
    }
    10% {
        opacity: 1
    }
    50% {
        animation-timing-function: ease-out;
        opacity: 1;
    }
    60% {
        opacity: 0
    }
}

.login-center {
    text-align: left;
}

.login {
    width:100%;
    position:absolute;
    color: #fff;
    padding:10px;
    background:rgba(25, 33, 49, 0.4);
    display: flex;
    min-height: 100vh;
    display: flex;
    flex-direction:column;
}

.login .login-form {
    text-align: left;
}

.login label {
    color: #fff;
}

.login-form .input-group .form-control {
    background: none;
    height: 44px;
    color: #ddd;
}

.login-form .input-group .input-group-addon {
    background: none;
}

.login-form .input-group .input-group-addon .fa {
    color: #1b5a7c;
}

.login-form .input-group .form-control::-moz-placeholder {
    color: #ffffff!important;
    opacity: 0.9;
}

::-webkit-input-placeholder {
    color: #ffffff!important;
    opacity: 0.9;
}


.login .sign-btn button {
    width: 180px;
}

.login .sign-btn a {
    text-decoration: none;
}

.login .checkbox {
    margin-top: 20px;
    margin-bottom: 20px;
}

.login .forgot {
    display: inline-block;
    margin: 20px 0;
}

.footer {
    position: absolute;
    bottom: 0;
    padding-bottom: 10px;
    width: 100%;
    color: #FFF;
}

.footer .credit {
    color: #FFF;
    font-weight: bold;
}

.method {
    background: none;
    height: 44px;
    color: #ddd;
    width: 300px;
}

.method:focus {
    border-color: #1b5a7c;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(24, 204, 162, 0.6);
    outline: 0 none;
}

.slogan {
    padding-top: 60px;
    color: rgba(255, 255, 255, 0.5);
}

#LoginUserAuthMethod {
    border: 1px solid #ccc;
    border-radius: 4px;

    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20fill%3D%22%23ddd%22%20%0A%09%20width%3D%2224px%22%20height%3D%2224px%22%20viewBox%3D%22-261%20145.2%2024%2024%22%20style%3D%22enable-background%3Anew%20-261%20145.2%2024%2024%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cpath%20d%3D%22M-245.3%2C156.1l-3.6-6.5l-3.7%2C6.5%20M-252.7%2C159l3.7%2C6.5l3.6-6.5%22%2F%3E%0A%3C%2Fsvg%3E");
    padding-right: 25px;
    background-repeat: no-repeat;
    background-position: right center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 6px 12px;
}

select option {
    color: #000;
}

canvas {
    display: block;
    vertical-align: bottom;
}

/* ---- particles.js container ---- */
#particles-js {
    position: absolute;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 100%;
}

.js-count-particles {
    font-size: 1.1em;
}

#stats, .count-particles {
    -webkit-user-select: none;
    margin-top: 5px;
    margin-left: 5px;
}

#stats {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
}

.count-particles {
    border-radius: 0 0 3px 3px;
}

.login-center .alert-success {
    background-color: transparent;
    color: #72d473;
    border-color: #02d004;
}

.login-center .alert-danger {
    background-color: transparent;
    color: #f3423e;
    border-color: #f51b16;
}

.login-header{
    width:100%;
    text-align: center;
    padding-top:50px;
}

.login-form-div {
    width: 300px;
    margin-left:auto;
    margin-right:auto;
    padding-top:50px;
}

.login-alert{
    width: 100%;
    padding-right: 15px;
}

