tmp/*
[Cc]onfig/core.php
[Cc]onfig/database.php
app/tmp/*
app/[Cc]onfig/database.php
!empty
lib/Cake/Console/Templates/skel/tmp/*
._*
.DS_Store
.AppleDouble
.afp*
app/tmp_cli/*
.nfs*
.idea/*
/nbproject/private/*
app/Plugin/AutoreportModule/webroot/tmp/*
app/webroot/userimages/*
app/webroot/img/graphs/*
app/webroot/img/charts/*
app/Plugin/MapModule/webroot/img/backgrounds/*
app/Plugin/MapModule/webroot/img/icons/*
*.swp
*.swo
app/webroot/js/compressed_components.js
app/webroot/js/compressed_controllers.js
__Plugins
__Plugins/*
app/Plugin/AutoreportModule
app/Plugin/DistributeModule
app/Plugin/EventcorrelationModule
app/Plugin/IdoitModule
app/Plugin/MkModule
