tmp/*
[Cc]onfig/core.php
[Cc]onfig/database.php
app/tmp/*
app/[Cc]onfig/database.php
app/[Cc]onfig/email.php
/vendor
build
!empty
lib/Cake/Console/Templates/skel/tmp/*
._*
.DS_Store
.AppleDouble
.afp*
app/tmp_cli/*
.nfs*
.idea
.vagrant
/nbproject/private/*
*.swp
*.swo
__Plugins
__Plugins/*
node_modules
ansible/playbook.retry
app/webroot/userimages/*
app/webroot/img/graphs/*
app/webroot/img/charts/*
app/webroot/js/compressed_components.js
app/webroot/js/compressed_controllers.js
app/webroot/js/compressed_angular_controllers.js
app/webroot/js/compressed_angular_directives.js
app/webroot/js/compressed_angular_services.js
app/webroot/js/compressed_angular_states.js
app/Plugin/ArchiveMigration
app/Plugin/AutoreportModule
app/Plugin/AutoreportModule/webroot/tmp/*
app/Plugin/AxiosAssyst
app/Plugin/DiscoveryModule
app/Plugin/DataExportModule
app/Plugin/DesignModule
app/Plugin/DistributeModule
app/Plugin/EventcorrelationModule
app/Plugin/IdoitModule
app/Plugin/MapModule/webroot/img/backgrounds/*
app/Plugin/MapModule/webroot/img/icons/*
app/Plugin/MapModule/webroot/img/temp/
app/Plugin/MassenversandDeModule
app/Plugin/MkModule
app/Plugin/SAPModule
app/Plugin/SlackModule
app/Plugin/MaximoModule
app/Plugin/AlfrescoModule
app/Plugin/LinuxBasicMonitoringModule
app/Plugin/NWCModule
app/Plugin/NrpeModule
app/Plugin/PostgresModule
app/Plugin/WMIModule
app/Plugin/PagerdutyModule
app/Plugin/OpenstreetmapModule
app/Plugin/LinuxBasicMonitoringSSHModule
app/Plugin/VMWAREModule
app/Plugin/WindowsBasicMonitoringNSCPModule
app/Plugin/MasterSelfMonitoringModule
app/Plugin/SatelliteSelfMonitoringModule
app/Plugin/ServicenowModule
app/Plugin/UCSModule
app/Lib/AvailableVersion.php
app/docs/en/administration/systemsettings.md
app/docs/en/api/systemsettings.md
tests
app/webroot/img/logo_custom.png
app/webroot/img/logo_small_custom.png

!app/Vendor/
app/Vendor/*
!app/Vendor/adldap
!app/Vendor/Date/*/*/*
!app/Vendor/Oauth2
!app/Vendor/imageSmoothArc.php
!app/Vendor/qqFileUploader.php
app/composer.lock

Vendor
Vendor/*
app/.c9

docker
app/Config/after_export.php
app/Config/dbbackend.php
app/Config/perfdatabackend.php
app/Config/graphite.php
app/Plugin/NagiosModule/Config/config.php
!app/cake4/tests
app/cake4/plugins/DistributedMonitoringModule
