/* #THEME COLOR (variable overrides)
========================================================================== */
$color-primary: #e59c6c; 
$color-success: #6c9be3; 
$color-info: #cb6de3; 
$color-warning: #ede267; 
$color-danger: #e77070;

/* #GLOBAL IMPORTS
========================================================================== */
@import './src/scss/_imports/_theme-modules-import';

/* #Reset userselect
========================================================================== */
#myapp-0 {
	box-shadow: none !important;
}
#myapp-9 {
	box-shadow: 0 0 0 3px #000000;
}