/*
openITCOCKPIT v4 Utilities
 */
.padding-top-0 {
    padding-top: 0px;
}

.padding-left-0 {
    padding-left: 0px;
}

.padding-right-0 {
    padding-right: 0px;
}

.padding-0 {
    padding: 0px !important;
}

.padding-bottom-2 {
    padding-bottom: 2px;
}

.padding-top-2 {
    padding-top: 2px;
}

.padding-top-0_2-rem {
    padding-top: 0.2rem !important;
}

.padding-left-2 {
    padding-left: 2px;
}

.padding-right-2 {
    padding-right: 2px;
}

.padding-2 {
    padding: 2px;
}

.padding-3 {
    padding: 3px;
}

.padding-top-3 {
    padding-top: 3px;
}

.padding-bottom-3 {
    padding-bottom: 3px;
}

.padding-bottom-5 {
    padding-bottom: 5px;
}

.padding-top-5 {
    padding-top: 5px;
}

.padding-left-5 {
    padding-left: 5px;
}

.padding-right-5 {
    padding-right: 5px;
}

.padding-5 {
    padding: 5px;
}

.padding-bottom-7 {
    padding-bottom: 7px;
}

.padding-top-7 {
    padding-top: 7px;
}

.padding-left-7 {
    padding-left: 7px;
}

.padding-right-7 {
    padding-right: 7px;
}

.padding-7 {
    padding: 7px;
}

.padding-bottom-8 {
    padding-bottom: 8px;
}

.padding-top-8 {
    padding-top: 8px;
}

.padding-left-8 {
    padding-left: 8px;
}

.padding-right-8 {
    padding-right: 8px;
}

.padding-8 {
    padding: 8px;
}

.padding-bottom-10 {
    padding-bottom: 10px;
}

.padding-top-10 {
    padding-top: 10px;
}

.padding-left-10 {
    padding-left: 10px;
}

.padding-right-10 {
    padding-right: 10px;
}

.padding-10 {
    padding: 10px;
}

.padding-left-15 {
    padding-left: 15px;
}

.padding-bottom-20 {
    padding-bottom: 20px;
}

.padding-top-20 {
    padding-top: 20px;
}

.padding-left-20 {
    padding-left: 20px;
}

.padding-left-30 {
    padding-left: 30px;
}

.padding-right-20 {
    padding-right: 20px;
}

.padding-right-23 {
    padding-right: 23px;
}

.padding-right-30 {
    padding-right: 30px;
}

.padding-20 {
    padding: 20px;
}

.padding-top-25 {
    padding-top: 25px;
}

.padding-left-25 {
    padding-left: 25px;
}

.padding-35 {
    padding: 35px;
}

.padding-left-50 {
    padding-left: 50px;
}

.padding-right-50 {
    padding-right: 50px;
}

.padding-bottom-50 {
    padding-bottom: 50px;
}

.padding-top-50 {
    padding-top: 50px;
}

.padding-50 {
    padding: 50px;
}

.padding-left-80 {
    padding-left: 80px;
}

.padding-right-80 {
    padding-right: 80px;
}

.padding-bottom-80 {
    padding-bottom: 80px;
}

.padding-top-80 {
    padding-top: 80px;
}

.padding-80 {
    padding: 80px;
}

.margin-0 {
    margin: 0;
}

.margin-2 {
    margin: 2px;
}

.margin-5 {
    margin: 5px;
}

.margin-20 {
    margin: 20px;
}

.margin-horizontal-15 {
    margin: 0px 15px;
}

.margin-bottom-50 {
    margin-bottom: 50px;
}

.margin-bottom-25 {
    margin-bottom: 25px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-5 {
    margin-bottom: 5px;
}

.margin-top-2 {
    margin-top: 2px;
}

.margin-top-5 {
    margin-top: 5px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-25 {
    margin-top: 25px;
}

.margin-top-30 {
    margin-top: 30px;
}

.margin-top-50 {
    margin-top: 50px;
}

.margin-left-0 {
    margin-left: 0px;
}

.margin-left-5 {
    margin-left: 5px;
}

.margin-left-10 {
    margin-left: 10px;
}

.margin-left-12 {
    margin-left: 12px;
}

.margin-left-15 {
    margin-left: 15px;
}

.margin-left-20 {
    margin-left: 20px;
}

.margin-right-5 {
    margin-right: 5px;
}

.margin-right-10 {
    margin-right: 10px;
}

.margin-right-15 {
    margin-right: 15px;
}

.margin-right-20 {
    margin-right: 20px;
}

.margin-10 {
    margin: 10px;
}

.width-5 {
    width: 5px;
}

.width-10 {
    width: 10px;
}

.width-15 {
    width: 15px;
}

.width-20 {
    width: 20px;
}

.width-25 {
    width: 25px;
}

.width-30 {
    width: 30px;
}

.width-40 {
    width: 40px;
}

.width-50 {
    width: 50px;
}

.width-55 {
    width: 55px;
}

.width-60 {
    width: 60px;
}

.width-70 {
    width: 70px;
}

.width-75 {
    width: 75px;
}

.width-80 {
    width: 80px;
}

.width-90 {
    width: 90px;
}

.width-95 {
    width: 95px;
}

.width-120 {
    width: 120px;
    min-width: 120px;
}

.width-130 {
    width: 130px;
    min-width: 130px;
}

.width-140 {
    width: 140px;
}

.width-150 {
    width: 150px;
}

.width-160 {
    width: 160px;
}

.width-180 {
    width: 180px;
}

.width-240 {
    width: 240px;
}

.width-complete {
    width: 100%;
}

.small-btn {
    padding: 0px 4px 0px 4px !important;
}

.italic {
    font-style: italic;
}

.code-font {
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}

.macroPassword {
    filter: blur(2px);
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='2');
    -ms-filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='2');
}

.ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}


/*
 * Font Sizes
 */
.font-xs {
    font-size: 85% !important;
}

.font-sm {
    font-size: 95% !important;
}

.font-md {
    font-size: 130% !important;
}

.font-lg {
    font-size: 160% !important;
}

.font-xl {
    font-size: 200% !important;
}

.font-400 {
    font-size: 400% !important;
}

.font-size-50 {
    font-size: 50px;
}

.bordered-vertical-on-left {
    border-left: 5px inset #428bca;
    border-radius: 7px;
}

.no-padding {
    padding: 0 !important;
}

.no-margin {
    margin: 0 !important;
}

.border-top-1 {
    border-top: 1px solid #e3e3e3;
}

.slightBorder {
    border: 1px solid #e3e3e3;
}

/* dropdown list sizing */
.dropdown-item-xs {
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
}

/* marquee-like animation */
@keyframes moveme {
    0% {
        transform: translateX(0%);
    }
    11.1% {
        transform: translateX(-10%);
    }
    22.2% {
        transform: translateX(-20%);
    }
    33.3% {
        transform: translateX(-30%);
    }
    44.4% {
        transform: translateX(-40%);
    }
    55.5% {
        transform: translateX(-30%);
    }
    66.6% {
        transform: translateX(-20%);
    }
    77.7% {
        transform: translateX(-10%);
    }
    88.8% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(10%);
    }
}

.noWordBreak > li.breadcrumb-item {
    max-width: none;
    text-overflow: unset;
    overflow: unset;
}

input[type="radio"]:checked + .custom-control-label, input[type="checkbox"]:checked + .custom-control-label {
    font-weight: normal;
}

.display-inline {
    display: inline;
}

.display-inline-flex {
    display: inline-flex;
}

.display-flex {
    display: flex;
}

.display-inline-block {
    display: inline-block;
}

.chosen-container-single .chosen-single {
    height: 100%;
    line-height: calc(2.6em);
}

.border-color-error {
    border-color: #CC0000;
}

/* menu search stuff */
.search_list_item_active {
    background-color: rgba(69, 69, 69, 0.8);
}

.search_list_item_active a {
    color: white !important;
}

.pull-trigger-btn:hover {
    background: #4285f4;
    border-color: #1266f1;
    -webkit-box-shadow: 0px 0px 2px #5790b3;
    box-shadow: 0px 0px 2px #5790b3;
}

/* stacked icons in input prepend */

.icon-stack .cornered {
    position: absolute;
    bottom: -5px;
    line-height: 1em;
    text-shadow: 1px 1px 1px #BDBDBD;
    font-size: 9px;
}

.icon-stack .cornered-lr {
    right: -5px;
    text-align: right;
}

.icon-stack .cornered-ll {
    text-align: left;
}

.icon-stack .cornered-tr {
    top: 0px !important;
    text-align: right;
}

.icon-stack .cornered-tl {
    top: 0px !important;
    text-align: left;
}

/* Weather icons */

/* <i class="fas fa-sun sun"></i> */
.sun {
    background: rgb(255, 252, 10);
    font-size: 38px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* <i class="fas fa-cloud-sun sun-cloud-gradient"></i> */
.sun-cloud-gradient {
    background: rgb(255, 252, 10);
    background: linear-gradient(132deg, rgba(255, 252, 10, 1) 0%, rgba(255, 252, 10, 1) 46%, transparent 46%,
    transparent 39%, rgb(226, 217, 217) 40%, rgb(213, 204, 204) 100%);
    font-size: 45px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* <i class="fas fa-cloud-sun-rain sun-cloud-gradient-rain"></i> */
.sun-cloud-gradient-rain {
    background: rgb(255, 252, 10);
    background: linear-gradient(132deg, rgba(255, 252, 10, 1) 0%, rgba(255, 252, 10, 1) 38%, transparent 38%,
    transparent 39%, rgb(134, 125, 125) 40%, rgb(71, 89, 113) 100%);
    font-size: 50px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
