/*
openITCOCKPIT menu on the left side v4 Utilities
 */

.page-logo, .page-sidebar, .nav-footer, .bg-brand-gradient {
    /*
    background-color: #132749;

     */
}

.nav-title {
    color: #7c7e7d;
}


.nav-menu li a {
    color: #b7b7b7;
}

.nav-menu li > ul li a {
    color: #b7b7b7;
}

.nav-menu li a > [class*="fa-"], .nav-menu li a:hover > .ni {
    color: #b7b7b7;
}

.nav-menu li > ul li a > [class*="fa-"], .nav-menu li > ul li a > .ni {
    color: #b7b7b7;
}

.nav-menu li a:hover > [class*="fa-"], .nav-menu li a:hover > .ni {
    color: #ffffff;
}

.nav-menu li.open > a > [class*="fa-"]{
    color: #ffffff;
}

.nav-menu li a:focus {
    color: #ffffff;
}

.nav-menu li a:focus > [class*="fa-"]{
    color: #ffffff;
}

.nav-footer .nav-footer-buttons > li > a {
    color: #b7b7b7;
}
