/*
openITCOCKPIT v4 Color definition classes

STD COLORS

$color-primary:                     #4285F4; blue           rgb(66, 133, 244)
$color-success:                     #00C851; green          rgb(0, 200, 81)
$color-info:                        #33b5e5; light blue     rgb(51, 181, 229)
$color-warning:                     #ffbb33; yellow         rgb(255, 187, 51)
$color-danger:                      #CC0000; red            rgb(204, 0, 0)
SECONDARY:                          #727b84; grey           rgb(114, 123, 132)
 */

.ok, .up {
    color: #00C851 !important;
}

.warning {
    color: #ffbb33 !important;
}

.critical, .down {
    color: #CC0000 !important;
}

.unknown, .unreachable {
    color: #727b84 !important;
}

.ok-soft, .up-soft {
    color: #00ea5f !important;
}

.warning-soft {
    color: #f9d180 !important;
}

.critical-soft, .down-soft {
    color: #ff4444 !important;
}

.unknown-soft, .unreachable-soft {
    color: #CFCFCF !important;
}

.bootstrap-tagsinput input::placeholder {
    color: #868e96;
    opacity: 1;
    font-size: 11px;
}

.text-primary {
    color: #1468f5 !important;
}

.custom-control-input:checked ~ .custom-control-label-primary::before {
    color: #fff;
    border-color: #4285F4;
    background-color: #4285F4;
}

.custom-control-input:checked ~ .custom-control-label-success::before,
.custom-control-input:checked ~ .custom-control-label-up::before,
.custom-control-input:checked ~ .custom-control-label-ok::before {
    color: #fff;
    border-color: #00C851;
    background-color: #00C851;
}

.custom-control-input:checked ~ .custom-control-label-warning::before {
    color: #fff;
    border-color: #ffbb33;
    background-color: #ffbb33;
}

.custom-control-input:checked ~ .custom-control-label-danger::before,
.custom-control-input:checked ~ .custom-control-label-down::before,
.custom-control-input:checked ~ .custom-control-label-critical::before {
    color: #fff;
    border-color: #CC0000;
    background-color: #CC0000;
}

.custom-control-input:checked ~ .custom-control-label-secondary::before,
.custom-control-input:checked ~ .custom-control-label-unreachable::before,
.custom-control-input:checked ~ .custom-control-label-unknown::before {
    color: #fff;
    border-color: #727b84;
    background-color: #727b84;
}


.custom-control-label-primary::before {
    color: #fff;
    border-color: #4285F4;
}

.custom-control-label-success::before,
.custom-control-label-up::before,
.custom-control-label-ok::before {
    color: #fff;
    border-color: #00C851;
}

.custom-control-label-warning::before {
    color: #fff;
    border-color: #ffbb33;
}

.custom-control-label-danger::before,
.custom-control-label-down::before,
.custom-control-label-critical::before {
    color: #fff;
    border-color: #CC0000;
}

.custom-control-label-secondary::before,
.custom-control-label-unknown::before,
.custom-control-label-unreachable::before {
    color: #fff;
    border-color: #727b84;
}

.bg-color-danger {
    background: #CC0000;
}

.bg-color-warning {
    background: #ffbb33;
}

.bg-ok, .bg-up {
    background-color: #00C851 !important;
}

.bg-ok-soft, .bg-up-soft {
    background-color: #00ea5f !important;
}

.bg-warning {
    background-color: #ffbb33 !important;
}

.bg-warning-soft {
    background-color: #f9d180 !important;
}

.bg-critical, .bg-down {
    background-color: #CC0000 !important;
}

.bg-critical-soft, .bg-down-soft {
    background-color: #ff4444 !important;
}

.bg-unknown, .bg-unreachable {
    background-color: #727b84 !important;
}

.bg-unknown-soft, .bg-unreachable-soft {
    background-color: #CFCFCF !important;
}

.bg-downtime {
    background-color: #337ab7 !important;
}

.bg-downtime-cancelled {
    background-color: #00c4d8 !important;
}

.bg-ack {
    background-color: #774DFF !important;
    border-color: #3c00ff !important;
    z-index: 2 !important;
    color: #ffffff;
}

.bg-color-black {
    background: #000000;
}

.bg-not-monitored {
    background-color: #4285F4 !important;
}


/* TEXT COLOR */

.txt-color-blue {
    color: #57889c !important;
}

.txt-color-blueLight {
    color: #727b84 !important;
}

.txt-color-blueDark {
    color: #4c4f53 !important;
}

.txt-color-green {
    color: #356e35 !important;
}

.txt-color-greenLight {
    color: #71843f !important;
}

.txt-color-greenDark {
    color: #496949 !important;
}

.txt-color-red {
    color: #CC0000 !important;
}

.txt-color-yellow {
    color: #b09b5b !important;
}

.txt-color-orange {
    color: #b19a6b !important;
}

.txt-color-orangeDark {
    color: #a57225 !important;
}

.txt-color-pink {
    color: #ac5287 !important;
}

.txt-color-pinkDark {
    color: #a8829f !important;
}

.txt-color-purple {
    color: #6e587a !important;
}

.txt-color-darken {
    color: #404040 !important;
}

.txt-color-lighten {
    color: #d5e7ec !important;
}

.txt-color-white {
    color: #ffffff !important;
}

.txt-color-grayDark {
    color: #525252 !important;
}

.txt-color-magenta {
    color: #6e3671 !important;
}

.txt-color-teal {
    color: #568a89 !important;
}

.txt-color-redLight {
    color: #a65858 !important;
}

.txt-ack {
    color: #774DFF !important;
}

.txt-downtime-cancelled {
    color: #00c4d8;
}

.txt-timerange {
    color: rgba(213, 221, 246, .4);
}

.txt-notification {
    color: gold;
}

.input-group-addon-no-focus-label-success {
    background-color: #00C851 !important;
    border-color: #ccc;
}

.input-group-addon-no-focus-label-danger {
    background-color: #CC0000 !important;
    border-color: #ccc;
}

.a-clean {
    text-decoration: none !important;
    color: #666;
}

.status-circle {
    width: 20px;
    height: 20px;
    padding: 0px;
}


/* dashboard widget themes */

/* STATUS RED GRADIENT THEME
https://www.color-hex.com/color/cc0000
*/
.widget-statusRed > .card-header {
    background-image: linear-gradient(-250deg, #CC0000, #db4c4c);
    color: #fff !important;
}

.widget-statusRed > .card-header > a,
.widget-statusRed > .card-header > div > button {
    color: #fff !important;
}

.widget-statusRed > .card-header > a:hover,
.widget-statusRed > .card-header > div > button:hover {
    color: #c3c3c3 !important;
}

.bg-widget-statusRed-gradient {
    background-image: linear-gradient(-250deg, #CC0000, #db4c4c);
}

/* STATUS GREEN GRADIENT THEME
https://www.color-hex.com/color/00c851
*/
.widget-statusGreen > .card-header {
    background-image: linear-gradient(-250deg, #00C851, #4cd885);
    color: #fff !important;
}

.widget-statusGreen > .card-header > a,
.widget-statusGreen > .card-header > div > button {
    color: #fff !important;
}

.widget-statusGreen > .card-header > a:hover,
.widget-statusGreen > .card-header > div > button:hover {
    color: #c3c3c3 !important;
}

.bg-widget-statusGreen-gradient {
    background-image: linear-gradient(-250deg, #00C851, #4cd885);
}

/* STATUS YELLOW GRADIENT THEME
https://www.color-hex.com/color/ffbb33
*/
.widget-statusYellow > .card-header {
    background-image: linear-gradient(-250deg, #ffbb33, #ffcf70);
    color: #fff !important;
}

.widget-statusYellow > .card-header > a,
.widget-statusYellow > .card-header > div > button {
    color: #fff !important;
}

.widget-statusYellow > .card-header > a:hover,
.widget-statusYellow > .card-header > div > button:hover {
    color: #c3c3c3 !important;
}

.bg-widget-statusYellow-gradient {
    background-image: linear-gradient(-250deg, #ffbb33, #ffcf70);
}

/* STATUS GREY GRADIENT THEME
https://www.color-hex.com/color/727b84
*/
.widget-statusGrey > .card-header {
    background-image: linear-gradient(-250deg, #727b84, #9ca2a8);
    color: #fff !important;
}

.widget-statusGrey > .card-header > a,
.widget-statusGrey > .card-header > div > button {
    color: #fff !important;
}

.widget-statusGrey > .card-header > a:hover,
.widget-statusGrey > .card-header > div > button:hover {
    color: #c3c3c3 !important;
}

.bg-widget-statusGrey-gradient {
    background-image: linear-gradient(-250deg, #727b84, #9ca2a8);
}

/* DEFAULT THEME */
.widget-default > .card-header {
    background: #f7f9fa;
}

.widget-default > .card-header > a:hover,
.widget-default > .card-header > div > button:hover {
    color: #c3c3c3 !important;
}

.bg-widget-default {
    background: #f7f9fa;
}

/* WHITE THEME */
.widget-white > .card-header {
    background: #fff;
}

.widget-white > .card-header > a:hover,
.widget-white > .card-header > div > button:hover {
    color: #c3c3c3 !important;
}

.bg-widget-white {
    background: #fff;
}

/* BLACK THEME */
.widget-black > .card-header {
    background-image: linear-gradient(-250deg, #000, #4c4c4c);
    color: #fff !important;
}

.widget-black > .card-header > a,
.widget-black > .card-header > div > button {
    color: #fff !important;
}

.widget-black > .card-header > a:hover,
.widget-black > .card-header > div > button:hover {
    color: #c3c3c3 !important;
}

.bg-widget-black-gradient {
    background-image: linear-gradient(-250deg, #000, #4c4c4c);
}

/* ANTHRACITE THEME */
.widget-anthracite > .card-header {
    background-image: linear-gradient(-250deg, #383e42, #73777a);
    color: #fff !important;
}

.widget-anthracite > .card-header > a,
.widget-anthracite > .card-header > div > button {
    color: #fff !important;
}

.widget-anthracite > .card-header > a:hover,
.widget-anthracite > .card-header > div > button:hover {
    color: #c3c3c3 !important;
}

.bg-widget-anthracite-gradient {
    background-image: linear-gradient(-250deg, #383e42, #73777a);
}

/* COLORBOMB THEME */
.widget-colorbomb > .card-header {
    background-image: linear-gradient(9deg, #833ab4, #fd1d1d, #fcb045);
    color: #fff !important;
}

.widget-colorbomb > .card-header > a,
.widget-colorbomb > .card-header > div > button {
    color: #fff !important;
}

.widget-colorbomb > .card-header > a:hover,
.widget-colorbomb > .card-header > div > button:hover {
    color: #c3c3c3 !important;
}

.bg-widget-colorbomb-gradient {
    background-image: linear-gradient(9deg, #833ab4, #fd1d1d, #fcb045);
}

/* COLORBOMB THEME */
.widget-colorbomb2 > .card-header {
    background-image: linear-gradient(120deg, rgba(222, 227, 38, 1) 0%, rgba(218, 225, 40, 1) 3%, rgba(207, 220, 44, 1) 7%, rgba(189, 211, 51, 1) 10%, rgba(185, 209, 52, 1) 15%, rgba(174, 204, 55, 1) 19%, rgba(155, 195, 59, 1) 23%, rgba(149, 192, 61, 1) 24%, rgba(145, 191, 69, 1) 26%, rgba(134, 188, 92, 1) 28%, rgba(115, 183, 130, 1) 31%, rgba(90, 177, 182, 1) 35%, rgba(67, 170, 230, 1) 38%, rgba(65, 166, 227, 1) 43%, rgba(62, 153, 217, 1) 49%, rgba(56, 130, 201, 1) 55%, rgba(48, 100, 178, 1) 62%, rgba(46, 93, 173, 1) 63.4%, rgba(48, 90, 171, 1) 63.9%, rgba(70, 53, 152, 1) 69%, rgba(83, 30, 141, 1) 74%, rgba(88, 22, 137, 1) 76%, rgba(90, 22, 135, 1) 77%, rgba(128, 22, 107, 1) 79%, rgba(158, 22, 86, 1) 82%, rgba(192, 21, 61, 1) 88%, rgba(196, 21, 58, 1) 90%, rgba(197, 29, 59, 1) 92%, rgba(201, 51, 63, 1) 94%, rgba(206, 87, 69, 1) 96%, rgba(214, 136, 77, 1) 99%);
    color: #fff !important;
}

.widget-colorbomb2 > .card-header > a,
.widget-colorbomb2 > .card-header > div > button {
    color: #fff !important;
}

.widget-colorbomb2 > .card-header > a:hover,
.widget-colorbomb2 > .card-header > div > button:hover {
    color: #c3c3c3 !important;
}

.bg-widget-colorbomb2-gradient {
    background-image: linear-gradient(120deg, rgba(222, 227, 38, 1) 0%, rgba(218, 225, 40, 1) 3%, rgba(207, 220, 44, 1) 7%, rgba(189, 211, 51, 1) 10%, rgba(185, 209, 52, 1) 15%, rgba(174, 204, 55, 1) 19%, rgba(155, 195, 59, 1) 23%, rgba(149, 192, 61, 1) 24%, rgba(145, 191, 69, 1) 26%, rgba(134, 188, 92, 1) 28%, rgba(115, 183, 130, 1) 31%, rgba(90, 177, 182, 1) 35%, rgba(67, 170, 230, 1) 38%, rgba(65, 166, 227, 1) 43%, rgba(62, 153, 217, 1) 49%, rgba(56, 130, 201, 1) 55%, rgba(48, 100, 178, 1) 62%, rgba(46, 93, 173, 1) 63.4%, rgba(48, 90, 171, 1) 63.9%, rgba(70, 53, 152, 1) 69%, rgba(83, 30, 141, 1) 74%, rgba(88, 22, 137, 1) 76%, rgba(90, 22, 135, 1) 77%, rgba(128, 22, 107, 1) 79%, rgba(158, 22, 86, 1) 82%, rgba(192, 21, 61, 1) 88%, rgba(196, 21, 58, 1) 90%, rgba(197, 29, 59, 1) 92%, rgba(201, 51, 63, 1) 94%, rgba(206, 87, 69, 1) 96%, rgba(214, 136, 77, 1) 99%);
}

/* system Health notifications */
.notification-title, .notification-message {
    color: #212529;
}

.selectedMapItem {
    /** important is required due to DesignModule **/
    background: #0088cc !important;
}


/*
	 * BACKGROUNDS
	 */
.bg-color-blue {
    background-color: #57889c !important;
}

.bg-color-blueLight {
    background-color: #727b84 !important;
}

.bg-color-blueDark {
    background-color: #4c4f53 !important;
}

.bg-color-green {
    background-color: #356e35 !important;
}

.bg-color-greenLight {
    background-color: #71843f !important;
}

.bg-color-greenDark {
    background-color: #496949 !important;
}

.bg-color-red {
    background-color: #CC0000 !important;
}

.bg-color-yellow {
    background-color: #b09b5b !important;
}

.bg-color-orange {
    background-color: #c79121 !important;
}

.bg-color-orangeDark {
    background-color: #a57225 !important;
}

.bg-color-pink {
    background-color: #ac5287 !important;
}

.bg-color-pinkDark {
    background-color: #a8829f !important;
}

.bg-color-purple {
    background-color: #6e587a !important;
}

.bg-color-darken {
    background-color: #404040 !important;
}

.bg-color-lighten {
    background-color: #d5e7ec !important;
}

.bg-color-white {
    background-color: #ffffff !important;
}

.bg-color-grayDark {
    background-color: #525252 !important;
}

.bg-color-lightGray {
    background-color: #EEEEEE !important;
}

.bg-color-magenta {
    background-color: #6e3671 !important;
}

.bg-color-teal {
    background-color: #568a89 !important;
}

.bg-color-redLight {
    background-color: #a65858 !important;
}

/* Currentstate report */

.greenTable tbody tr:nth-of-type(odd) {
    background: rgba(255, 255, 255, 0.15);
}

.greenTable tbody tr:nth-of-type(even) {
    background: rgba(255, 255, 255, 0.3)
}

/* Command line highlight colors */
.highlight-blue {
    background-color: rgba(0, 192, 239, 0.2);
}

.highlight-green {
    background-color: rgba(68, 157, 68, 0.2);
}

.highlight-purple {
    background-color: rgba(155, 102, 160, 0.2);
}

/* Host / Service browser status colors */
.browser-state-green {
    background-color: #00C851;
}

.browser-state-yellow {
    background-color: #ffbb33;
}

.browser-state-red {
    background-color: #CC0000;
}

.browser-state-gray {
    background-color: #727b84;
}

.browser-state-blue {
    background-color: #4285F4;
}

.browser-border {
    border: 1px solid #ddd;
}

.reportIssueCardChatHeader {
    background-color: #337ab7;
    color: #fff;
}

.reportIssueCardCommunityHeader {
    background-color: #6e587a;
    color: #fff;
}

.reportIssueCardCommercialSupportHeader {
    background-color: #404040;
    color: #fff;
}

.reportIssueCardSubheader {
    background-color: #333;
    color: #999;
}

.noty_theme__metroui.noty_type__info,
.noty_theme__metroui.noty_type__information {
    background-color: #4285F4;
    color: #FFF;
}

.noty_theme__metroui.noty_type__success {
    background-color: #00C851;
    color: #FFF;
}

.noty_theme__metroui.noty_type__warning {
    background-color: #ffbb33;
    color: #fff;
}

.noty_theme__metroui.noty_type__error {
    background-color: #CC0000;
    color: #FFF;
}

.page-content {
    color: #444444;
}

.nav .nav-link:not([class^="btn-"]):not([class*=" btn-"]) {
    color: #727b84;
}

.btn-unknown {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
}

.btn-unknown :active {
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.btn-unknown.disabled
fieldset[disabled] .btn-unknown {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn-unknown .badge {
    text-shadow: none;
}

.btn:active,
.btn.active {
    background-image: none;
}

.btn-unknown {
    text-shadow: 0 1px 0 #fff;
    background-image: -webkit-linear-gradient(top, #fff 0%, #727b84 100%);
    background-image: -o-linear-gradient(top, #fff 0%, #727b84 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#727b84));
    background-image: linear-gradient(to bottom, #fff 0%, #727b84 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ff727b84', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    border-color: #dbdbdb;
    border-color: #ccc;
}

.btn-unknown:hover,
.btn-unknown:focus {
    background-color: #e0e0e0;
    background-position: 0 -15px;
}

.btn-unknown:active,
.btn-unknown.active {
    background-color: #727b84;
    border-color: #dbdbdb;
}

.btn-unknown.disabled,
.btn-unknown[disabled],
fieldset[disabled] .btn-unknown,
.btn-unknown.disabled:hover,
.btn-unknown[disabled]:hover,
fieldset[disabled] .btn-unknown:hover,
.btn-unknown.disabled:focus,
.btn-unknown[disabled]:focus,
fieldset[disabled] .btn-unknown:focus,
.btn-unknown.disabled.focus,
.btn-unknown[disabled].focus,
fieldset[disabled] .btn-unknown.focus,
.btn-unknown.disabled:active,
.btn-unknown[disabled]:active,
fieldset[disabled] .btn-unknown:active,
.btn-unknown.disabled.active,
.btn-unknown[disabled].active,
fieldset[disabled] .btn-unknown.active {
    background-color: #727b84;
    background-image: none;
}

/* Link list item style */
.app-list-item > .icon-stack > .icon-stack-3x {
    color: #4084C5;
}

.app-list-item > .icon-stack > .icon-stack-1x {
    color: #fff;
}

.linkListAddMore > .icon-stack > .icon-stack-3x {
    color: #00C851;
}


.elementHighlighter {
    color: #c51162 !important;
    background-color: #a51eff !important;
    background-image: linear-gradient(to top, #a51eff, #a51eff) !important;
}

.elementBackgroundHighlighter {
    background-color: #a51eff !important;
}

.elementBackgroundImageHighlighter {
    background-image: linear-gradient(to top, #a51eff, #a51eff) !important;
}

.elementFontHighlighter {
    color: #c51162 !important;
}

/* Badges and text colors for object types (like generic, evc, ...) */
.text-generic {
    color: #2196f3;
}

.border-generic {
    border-color: #2182dc !important;
}

.text-evc {
    color: #9c27b0;
}

.border-evc {
    border-color: #822796 !important;
}

.text-prometheus {
    color: #ff9800;
}

.border-prometheus {
    border-color: #E17B00 !important;
}

.text-agent {
    color: #009688;
}

.border-agent {
    border-color: #006e60 !important;
}

.text-sla {
    color: #cddc39;
}

.border-sla {
    border-color: #A9B836 !important;
}

.text-mk {
    color: #607d8b;
}

.border-mk {
    border-color: #4d6876 !important;
}

.table-color-0 {
    background-color: #00C851BF;
}

.table-color-1 {
    background-color: #CC0000BF;
}

.table-color-2 {
    background-color: #727b84BF;
}

.table-color-disabled {
    background-color: #4285F4BF;
}

.table-color-0 a,
.table-color-1 a,
.table-color-2 a,
.table-color-disabled a {
    color: #ffffff;
}

div.packetmanager-selection::-moz-selection { /* Code for Firefox */
    color: #1468f5;
    background: #ffffff;
}

div.packetmanager-selection::selection {
    color: #1468f5;
    background: #ffffff;
}
div.packetmanager-selection>span::-moz-selection { /* Code for Firefox */
    color: #1468f5;
    background: #ffffff;
}

div.packetmanager-selection>span::selection {
    color: #1468f5;
    background: #ffffff;
}

.text-purple {
    color: #bb1bf4 !important;
}