/* Thresholds Warning / Critical consider min/max values and inclusive setting*/

.threshold-container {
    width: 130px;
    border-bottom: 1px solid #cccccc;
}

.subcontainer-warning {
    width: 130px;
    border-bottom: 11px solid;
    border-image: linear-gradient(to right, #DF8F1D 40px, #cccccc 41px, transparent 42px, transparent 88px, #cccccc 89px, #DF8F1D 90px);
    border-image-slice: 1;
}

.subcontainer-critical {
    width: 130px;
    border-bottom: 11px solid;
    border-image: linear-gradient(to right, #C9302C 40px, #cccccc 41px, transparent 42px, transparent 88px, #cccccc 89px, #C9302C 90px);
    border-image-slice: 1;
}

.subcontainer-warning-inclusive {
    width: 130px;
    border-bottom: 11px solid;
    border-image: linear-gradient(to right, transparent 0%, transparent 40px, #cccccc 41px, #DF8F1D 42px, #DF8F1D 88px, #cccccc 89px, transparent 90px);
    border-image-slice: 1;
}

.subcontainer-critical-inclusive {
    width: 130px;
    border-bottom: 11px solid;
    border-image: linear-gradient(to right, transparent 0%, transparent 40px, #cccccc 41px, #C9302C 42px, #C9302C 88px, #cccccc 89px, transparent 90px);
    border-image-slice: 1;
}

.label-container {
    width: 130px;
    position: relative;
}

.label-left {
    font-weight: bold;
    font-size: 14px;
    position: absolute;
    left: 2px;
    top: -6px;
    color: #ffffff;
}

.label-left:before {
    content: '- ∞';
}

.label-right {
    font-weight: bold;
    font-size: 14px;
    position: absolute;
    right: 2px;
    top: -6px;
    color: #ffffff;
}

.label-right:before {
    content: '+ ∞';
}

.label-left-inclusive {
    font-size: 14px;
    position: absolute;
    left: 2px;
    top: -6px;
    color: #000000;
}

.label-left-inclusive:before {
    content: '- ∞';
}

.label-right-inclusive {
    font-size: 14px;
    position: absolute;
    right: 2px;
    top: -6px;
    color: #000000;
}

.label-right-inclusive:before {
    content: '+ ∞';
}

.value-container {
    position: relative;

}

.values-left-container {
    margin-top: -14px;
    position: absolute;
    padding: 2px;
    left: 0px;
    width: 60px;
}

.values-right-container {
    margin-top: -14px;
    position: absolute;
    padding: 2px 1px;
    right: 0px;
    width: 60px;
}

.speech-bubble-ds {
    margin: 0 auto 5px;
    padding: 0px 4px;
    position: relative;
}

.speech-bubble-ds p {
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    font-size: 10px;
}

.speech-bubble-ds p:last-of-type {
    margin-bottom: 0;
}

/* ARROW OUTSIDE*/

.speech-bubble-ds-arrow-left {
    border-left: 2px solid transparent;
    border-top: 14px solid rgba(0, 0, 0, 0.2);
    bottom: -14px;
    position: absolute;
    right: 16px;
}

.speech-bubble-ds-arrow-left::before {
    border-top: 14px solid rgba(0, 0, 0, 0.2);
    border-left: 8px solid transparent;
    bottom: 2px;
    content: "";
    position: absolute;
    right: 0px;
}

.speech-bubble-ds-arrow-right {
    border-right: 2px solid transparent;
    border-top: 14px solid rgba(0, 0, 0, 0.2);
    bottom: -14px;
    position: absolute;
    right: 38px;
}

.speech-bubble-ds-arrow-right::before {
    border-top: 14px solid rgba(0, 0, 0, 0.2);
    border-right: 8px solid transparent;
    bottom: 2px;
    content: "";
    position: absolute;
    right: -8px;
}

/* ARROW INSIDE*/

.speech-bubble-ds-arrow-left-inside {
    border-left: 2px solid transparent;
    border-top: 14px solid rgba(0, 0, 0, 0.2);
    bottom: -14px;
    position: absolute;
    right: 20px;
}

.speech-bubble-ds-arrow-left-inside::before {
    border-top: 22px solid rgba(0, 0, 0, 0.2);
    border-right: 8px solid transparent;
    bottom: 2px;
    content: "";
    position: absolute;
    right: -8px;
}

.speech-bubble-ds-arrow-right-inside {
    border-right: 2px solid transparent;
    border-top: 14px solid rgba(0, 0, 0, 0.2);
    bottom: -14px;
    position: absolute;
    right: 38px;
}

.speech-bubble-ds-arrow-right-inside::before {
    border-top: 14px solid rgba(0, 0, 0, 0.2);
    border-left: 8px solid transparent;
    bottom: 2px;
    content: "";
    position: absolute;
    right: 0px;
}

.thresholds-values {
    border-bottom: 1px solid #cccccc;
}
