<!DOCTYPE html>
{{> include/_copyright-header}}
<html lang="en">
	<head>
		{{> include/_head}}

		{{!-- Optional: page related CSS --}}
		{{#>head-block}}{{/head-block}}
	</head>
	<body class="mod-bg-1 {{preemptiveclass}}">
		
		{{!-- save-settings-script --}}
		{{> include/_scripts-loading-saving}}
		
		<!-- BEGIN Page Wrapper -->
		<div class="page-wrapper">

			<div class="page-inner">

				{{> include/_left-panel }}

				<div class="page-content-wrapper">
					
					{{> include/_page-header }}

					<!-- BEGIN Page Content -->
					<!-- the #js-page-content id is needed for some plugins to initialize -->
                    <main id="js-page-content" role="main" class="page-content">
                        {{#if preemptiveclass}}
                            <!-- Page heading removed for composed layout -->
                        {{else}}
                            {{> include/_page-breadcrumb }}
                            <div class="subheader">
                                {{> include/_page-heading }}
                                {{#> subheader-block}}{{/subheader-block}}
                            </div>
                        {{/if}}
                        {{#>content-block}}{{/content-block}}
                    </main>
					{{> include/_page-content-overlay }}
					<!-- END Page Content -->

					{{> include/_page-footer }}

					{{> include/_shortcut-modal }}

					{{> include/_color-profile-reference }}
					
				</div>

			</div>

		</div>
		<!-- END Page Wrapper -->
		
		{{> include/_shortcut-menu }}
		
		{{> include/_shortcut-messenger }}

		{{> include/_page-settings }}

		{{!-- Google Analytics  code if GOOGLE_ANALYTICS_ID id available --}}
		{{> include/_google_analytics }}
		
		{{> include/_scripts-base-plugins}}
		{{#>scripts-block}}
			{{!-- Custom scripts per page can be added. --}}
		{{/scripts-block}}
	</body>
</html>