<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    colors="true"
    processIsolation="false"
    stopOnFailure="false"
    bootstrap="tests/bootstrap.php"
>
    <php>
        <ini name="memory_limit" value="-1"/>
        <ini name="apc.enable_cli" value="1"/>
    </php>

    <!-- Add any additional test suites you want to run here -->
    <testsuites>
        <testsuite name="PuppeteerPdf">
            <directory>tests/TestCase/</directory>
        </testsuite>
    </testsuites>

    <!-- Setup fixture extension -->
    <extensions>
        <extension class="Cake\TestSuite\Fixtures\PHPUnitExtension"/>
    </extensions>

    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>
</phpunit>
