body {
	height: auto;
}

.formactions.well {
	overflow: auto;
	padding: 10px 20px;
}
.cake-debug-output {
	margin-left: 240px;
}

.italic{
	font-style: italic;
}

.underline{
	text-decoration: underline
}

div.required label:after {
	content: ' *';
	color: red;
	display:inline;
}
