a:not([href]):not([tabindex]) {
    color: #b1b3b2;
    text-decoration: none;
}

.code-font {
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}

.ok, .up {
    color: #449D44 !important;
}

.warning {
    color: #DF8F1D !important;
}

.critical, .down {
    color: #C9302C !important;
}

.unknown, .unreachable {
    color: #92A2A8 !important;
}

.ok-soft, .up-soft {
    color: #8BC08B !important;
}

.warning-soft {
    color: #f2c68a !important;
}

.critical-soft, .down-soft {
    color: #C5706D !important;
}

.unknown-soft, .unreachable-soft {
    color: #CFCFCF !important;
}

.padding-top-0 {
    padding-top: 0px;
}

.padding-left-0 {
    padding-left: 0px;
}

.padding-right-0 {
    padding-right: 0px;
}

.padding-0 {
    padding: 0px !important;
}

.padding-bottom-2 {
    padding-bottom: 2px;
}

.padding-top-2 {
    padding-top: 2px;
}

.padding-left-2 {
    padding-left: 2px;
}

.padding-right-2 {
    padding-right: 2px;
}

.padding-2 {
    padding: 2px;
}

.padding-3 {
    padding: 3px;
}

.padding-bottom-5 {
    padding-bottom: 5px;
}

.padding-top-5 {
    padding-top: 5px;
}

.padding-left-5 {
    padding-left: 5px;
}

.padding-right-5 {
    padding-right: 5px;
}

.padding-5 {
    padding: 5px;
}

.padding-bottom-7 {
    padding-bottom: 7px;
}

.padding-top-7 {
    padding-top: 7px;
}

.padding-left-7 {
    padding-left: 7px;
}

.padding-right-7 {
    padding-right: 7px;
}

.padding-7 {
    padding: 7px;
}

.padding-bottom-8 {
    padding-bottom: 8px;
}

.padding-top-8 {
    padding-top: 8px;
}

.padding-left-8 {
    padding-left: 8px;
}

.padding-right-8 {
    padding-right: 8px;
}

.padding-8 {
    padding: 8px;
}

.padding-bottom-10 {
    padding-bottom: 10px;
}

.padding-top-10 {
    padding-top: 10px;
}

.padding-left-10 {
    padding-left: 10px;
}

.padding-right-10 {
    padding-right: 10px;
}

.padding-10 {
    padding: 10px;
}

.padding-bottom-20 {
    padding-bottom: 20px;
}

.padding-top-20 {
    padding-top: 20px;
}

.padding-left-20 {
    padding-left: 20px;
}

.padding-right-20 {
    padding-right: 20px;
}

.padding-20 {
    padding: 20px;
}

.padding-35 {
    padding: 35px;
}

.padding-left-50 {
    padding-left: 50px;
}

.padding-right-50 {
    padding-right: 50px;
}

.padding-bottom-50 {
    padding-bottom: 50px;
}

.padding-top-50 {
    padding-top: 50px;
}

.padding-50 {
    padding: 50px;
}

.padding-left-80 {
    padding-left: 80px;
}

.padding-right-80 {
    padding-right: 80px;
}

.padding-bottom-80 {
    padding-bottom: 80px;
}

.padding-top-80 {
    padding-top: 80px;
}

.padding-80 {
    padding: 80px;
}

.margin-horizontal-15 {
    margin: 0px 15px;
}

.margin-bottom-50 {
    margin-bottom: 50px;
}

.margin-bottom-25 {
    margin-bottom: 25px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-top-2 {
    margin-top: 2px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-left-10 {
    margin-left: 10px;
}

.margin-left-15 {
    margin-left: 15px;
}

.margin-right-10 {
    margin-right: 10px;
}

.margin-10 {
    margin: 10px;
}

.label-forced {
    display: inline !important;
    padding: .2em .6em .3em !important;
    font-size: 75% !important;
    font-weight: 700 !important;
    line-height: 1 !important;
    color: #fff !important;
    text-align: center !important;
    white-space: nowrap !important;
    vertical-align: baseline !important;
    border-radius: .25em !important;
}

.btn-lower-padding {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
}

.width-5 {
    width: 5px;
}

.width-10 {
    width: 10px;
}

.width-15 {
    width: 15px;
}

.width-20 {
    width: 20px;
}

.width-25 {
    width: 25px;
}

.width-30 {
    width: 30px;
}

.width-40 {
    width: 40px;
}

.width-50 {
    width: 50px;
}

.width-60 {
    width: 60px;
}

.width-70 {
    width: 70px;
}

.width-75 {
    width: 75px;
}

.width-90 {
    width: 90px;
}

.width-120 {
    width: 120px;
    min-width: 120px;
}

.width-130 {
    width: 130px;
    min-width: 130px;
}

.width-150 {
    width: 150px;
}

.width-160 {
    width: 160px;
}

.width-240 {
    width: 240px;
}

.notify-label {
    display: inline-block;
    line-height: 1.4;
    min-width: 150px;
}

.notify-label-small {
    display: inline-block;
    line-height: 1.6;
    min-width: 90px;
    width: 100%;
    margin-top: 2px;
}

.italic {
    font-style: italic;
}

/*
#global_ajax_loader {
    padding: 11px 34px 11px 0 !important;
    vertical-align: top;
    float: right;
    color: #348ED1;
    text-shadow: 0 0 5px #348ED1;
    display: none;
}*/

.popup-graph-container {
    position: absolute;
    /*top: 320px;*/
    left: 495px;
    width: 750px;
    height: auto;
    background-color: #FFF;
    box-shadow: 0 0 15px #9E9E9E;
    border-radius: 3px;
    z-index: 1;
    display: none;
}

#serviceGraphFlot {
    width: 100%;
    height: 260px;

}

.input-group-addon-no-focus-label-success {
    background-color: #5cb85c !important;
    border-color: #ccc;
}

.input-group-addon-no-focus-label-danger {
    background-color: #d9534f !important;
    border-color: #ccc;
}

div.custom-control-down{
    padding-left: 0;
}

.custom-control-label{
    margin-bottom: 1rem;
}

div.custom-control-down .custom-control-label::before,
div.custom-control-down .custom-control-label::after{
    top: 1.5rem;
    left: initial;
}
