[Unit]
Description=Send openITCOCKPIT push notifications to connected web browsers
After=syslog.target network.target mysql.service gearman-job-server.service

[Service]
User=root
Group=www-data
Type=simple
Restart=always
ExecStart=/opt/openitc/frontend/bin/cake push_notifications
LimitNOFILE=10000
RestartSec=30

[Install]
WantedBy=multi-user.target
