[Unit]
Description=openITCOCKPIT WebSocket Background Service
After=syslog.target network.target mysql.service

[Service]
User=root
Group=www-data
Type=simple
Restart=on-failure
ExecStart=/opt/openitc/frontend/bin/cake sudo_server
RestartSec=30

[Install]
WantedBy=multi-user.target
