/*
 * MIT license
 * https://bootsnipp.com/snippets/zD9xl
 */
html, body {
    height: 100%;
    width: 100%;
}

body {
    font-family: sans-serif;
    position: relative;
    color: #fff;
}

/** Login bg animation */
.login-screen-vnc {
    background-image: url(/img/login_bg/spacex-71870.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.login-screen {
    /* background-image: url(/img/login_bg/spacex-71870.jpg);*/
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.login-screen:before {
    content: "";
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.login-screen > figure {
    animation: imageAnimation 30s linear infinite 0s;
    backface-visibility: hidden;
    background-size: cover;
    background-position: center center;
    color: transparent;
    height: 100%;
    left: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 0;
}

figcaption {
    position: absolute;
    bottom:0;
    left:15px;
    height:50px;
    line-height:50px;
    color: white!important;
    font-size:11px;
}

.login-screen > figure:nth-child(1) {
    background-image:  url('/img/login/todd-diemer-67t2GJcD5PI-unsplash.jpg');
}

.login-screen > figure:nth-child(2) {
    animation-delay: 15s;
    background-image:  url('/img/login/nasa-53884.jpg');
}

@keyframes imageAnimation {
    0% {
        animation-timing-function: ease-in;
        opacity: 0;
    }
    10% {
        opacity: 1
    }
    50% {
        animation-timing-function: ease-out;
        opacity: 1;
    }
    60% {
        opacity: 0
    }
}

canvas {
    display: block;
    vertical-align: bottom;
}

/* ---- particles.js container ---- */
#particles-js {
    position: absolute;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 100%;
}

.js-count-particles {
    font-size: 1.1em;
}

#stats, .count-particles {
    -webkit-user-select: none;
    margin-top: 5px;
    margin-left: 5px;
}

#stats {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
}

.count-particles {
    border-radius: 0 0 3px 3px;
}

/** login side panel */

.login-side-bg {
    background: rgba(25, 33, 49, 0.4);
}

/** fix button with icons **/

.btn-icon{
    padding: 0.35rem .5rem 0.15rem .5rem;
}
