/*
STD COLORS

$color-primary:						#4285F4;
$color-success:						#00C851;
$color-info:						#33b5e5;
$color-warning:						#ffbb33;
$color-danger:						#CC0000;
 */

a:not([href]):not([tabindex]) {
    color: #b1b3b2;
    text-decoration: none;
}

.label-forced {
    display: inline !important;
    padding: .2em .6em .3em !important;
    font-size: 75% !important;
    font-weight: 700 !important;
    line-height: 1 !important;
    color: #fff !important;
    text-align: center !important;
    white-space: nowrap !important;
    vertical-align: baseline !important;
    border-radius: .25em !important;
}

.btn-lower-padding {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
}


.notify-label {
    display: inline-block;
    line-height: 1.4;
    min-width: 150px;
}

.notify-label-small {
    display: inline-block;
    line-height: 1.1;
    min-width: 90px;
    width: 100%;
    margin-top: 3px;
}

.popup-graph-container {
    position: absolute;
    /*top: 320px;*/
    left: 495px;
    width: 750px;
    height: auto;
    background-color: #FFF;
    box-shadow: 0 0 15px #9E9E9E;
    border-radius: 3px;
    z-index: 1;
    display: none;
}

#serviceGraphFlot {
    width: 100%;
    height: 260px;
}

div.custom-control-down {
    padding-left: 0;
}

.custom-control-label {
    margin-bottom: 1rem;
}

div.custom-control-down .custom-control-label::before,
div.custom-control-down .custom-control-label::after {
    top: 1.5rem;
    left: initial;
}

div.custom-control-right {
    padding-right: 0;
    padding-left: 0;
}

div.custom-control-right .custom-control-label::before,
div.custom-control-right .custom-control-label::after {
    right: -1.8rem;
    left: initial;
    top: 3px;
}

.chosen-container {
    font-size: 0.8125rem;
}

.tagsinputFilter {
    margin: 0 -12px 0 -12px;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-color: #E5E5E5 !important;
}

/* dashboards host/service status overview */
.bg-host-0, .bg-service-0 {
    background-color: #00C851 !important;
}

.bg-service-1 {
    background-color: #ffbb33 !important;
}

.bg-host-1, .bg-service-2 {
    background-color: #CC0000 !important;
}

.bg-host-2, .bg-service-3 {
    background-color: #92A2A8 !important;
}

.bg-host-background-icon:after, .bg-service-background-icon:after {
    font-family: "FontAwesome";
    padding-left: 5px;
    position: absolute;
    bottom: 0px;
    right: 5px;
    font-size: calc(2.5vw + 2.5vh);
}

.bg-host-front-0:after, .bg-service-front-0:after {
    content: "\f058";
    color: rgba(255, 255, 255, 0.1);
}

.bg-service-front-1:after {
    content: "\f06a";
    color: rgba(255, 217, 56, 0.1);
}

.bg-host-front-1:after, .bg-service-front-2:after {
    content: "\f06a";
    color: rgba(255, 255, 255, 0.1);
}

.bg-host-front-2:after, .bg-service-front-3:after {
    content: "\f06a";
    color: rgba(255, 255, 255, 0.1);
}

.fixFlippy {
    right: 0px !important;
}

.dashboardColorPickerBorder {
    border: 1px solid #f5f5f5;
}


/* Fullcalendar CSS */

#calendar-buttons {
    position: relative !important;
    margin-left: 15px !important;
    top: 0 !important;
}

.fc-grid .fc-day-number {
    float: left;
}

.calendar-button {
    float: right;
}

.fc-event .fc-event-title {
    padding: 0.5em;
    border: none;
}

.fc-day-grid-event .fc-content {
    /* deactivate force events to be one-line tall */
    white-space: normal !important;
    overflow: visible !important;
}

.fc-icon-left-single-arrow::after {
    font-size: 100% !important;
}

.fc-icon-right-single-arrow::after {
    font-size: 100% !important;
}

.fc-state-default:hover {
    background: #E5E5E5 none;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.defaultHoliday {
    background: #356E35 !important;
}

/* BugFix Style Issue events are not visible*/
.fc-time-grid .fc-event, .fc-time-grid .fc-bgevent {
    position: relative;
    z-index: 1;
}

/* fullcalendar 'more+' container style settings */
.fc-more-popover {
    overflow-y: scroll;
    max-height: 20%;
    max-width: 14%;
}

.fc-button-primary {
    background-color: #4285F4 !important;
    border-color: #317ABF !important;
    color: #FFF;
    padding: 0px 4px !important;
}

.fc-day-number {
    float: left !important;
}

.fc-holidays-button {
    background-color: #00C851 !important;
    border-color: #449D44 !important;
    color: #ffffff;
}

.fc-holidays-button:hover,
.fc-holidays-button:active,
.fc-holidays-button:focus {
    color: #ffffff;
}

.fc-deleteallholidays-button {
    background-color: #6E3671 !important;
    border-color: #582b5b !important;
}

.fc-deletemonthevents-button,
.fc-deleteallevents-button {
    background-color: #CC0000 !important;
    border-color: #a94442 !important;
}

.caret-with-margin-left-5 {
    margin-left: 5px !important;
}

#countryList.dropdown-menu > li > a {
    padding: 0px 5px;
}

.fc-left .dropdown .dropdown-menu {
    display: block;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
}

.fc-left .dropdown:hover .dropdown-menu {
    visibility: visible;
    opacity: 1;
}

.fc-left .dropdown {
    display: inline-block;
}

.fc-title {
    color: #ffffff;
}

td.fc-other-month {
    background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0.25, rgba(0, 0, 0, .03)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(0, 0, 0, .03)), color-stop(0.75, rgba(0, 0, 0, .03)), color-stop(0.75, transparent), to(transparent));
    background-image: -webkit-linear-gradient(135deg, rgba(0, 0, 0, .03) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, .03) 50%, rgba(0, 0, 0, .03) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(135deg, rgba(0, 0, 0, .03) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, .03) 50%, rgba(0, 0, 0, .03) 75%, transparent 75%, transparent);
    background-image: -ms-linear-gradient(135deg, rgba(0, 0, 0, .03) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, .03) 50%, rgba(0, 0, 0, .03) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(135deg, rgba(0, 0, 0, .03) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, .03) 50%, rgba(0, 0, 0, .03) 75%, transparent 75%, transparent);
    background-image: linear-gradient(135deg, rgba(0, 0, 0, .03) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, .03) 50%, rgba(0, 0, 0, .03) 75%, transparent 75%, transparent);
    background-color: #FAFCFD;
    background-size: 16px 16px
}

/* highlight within textarea */
.hwt-container {
    width: 100%;
}

.hwt-highlights {
    padding: 0.5rem 0.875rem;
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}

.no-border {
    border: 0px;
}

.credits-container {
    background: #000;
    width: 100%;
    text-align: center;

    color: #f9f9f9;
    text-shadow: 0 0 7px #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

#credits {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.credits-h1 {
    font-size: 60px;
    font-weight: bold;
}

.credits-h2 {
    font-size: 45px;
    font-weight: bold;
}

.credits-fineprint {
    color: #888888;
    font-size: 15px;
    padding-top: 15px;
    font-family: sans-serif;
}

.jvectormap-zoomin,
.jvectormap-zoomout {
    position: absolute;
    background: #aaa;
    padding: 4px;
    width: 22px;
    height: 22px;
    cursor: pointer;
    line-height: 10px;
    text-align: center;
    font-size: 14px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.05);

}

.jvectormap-zoomin:hover,
.jvectormap-zoomout:hover {
    background: #777;
}

.jvectormap-zoomin {
    top: 0px;
}

.jvectormap-zoomout {
    top: 24px;
}

.vector-map {
    height: 300px;
    width: 100%;
    padding: 10px;
}

.dl-inline {
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0
}

.dl-inline > dt {
    float: left;
    width: 30%;
    /* adjust the width; make sure the total of both is 100% */
    padding: 0;
    margin: 0
}

.dl-inline > dd {
    float: left;
    width: 50%;
    /* adjust the width; make sure the total of both is 100% */
    padding: 0;
    margin: 0
}

.progress {
    background-color: #f6f6f6;
}

.dropzoneStyle {
    min-height: 175px;
    padding: 15px;
    border: 2px dashed #dedede;
    border-radius: 5px;
    background: #f5f5f5;
}

pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
    overflow: auto;
}

.bold {
    font-weight: bold;;
}
