/*
openITCOCKPIT v4 Utilities
 */
.padding-top-0 {
    padding-top: 0px;
}

.padding-left-0 {
    padding-left: 0px;
}

.padding-right-0 {
    padding-right: 0px;
}

.padding-0 {
    padding: 0px !important;
}

.padding-bottom-2 {
    padding-bottom: 2px;
}

.padding-top-2 {
    padding-top: 2px;
}

.padding-left-2 {
    padding-left: 2px;
}

.padding-right-2 {
    padding-right: 2px;
}

.padding-2 {
    padding: 2px;
}

.padding-3 {
    padding: 3px;
}

.padding-bottom-5 {
    padding-bottom: 5px;
}

.padding-top-5 {
    padding-top: 5px;
}

.padding-left-5 {
    padding-left: 5px;
}

.padding-right-5 {
    padding-right: 5px;
}

.padding-5 {
    padding: 5px;
}

.padding-bottom-7 {
    padding-bottom: 7px;
}

.padding-top-7 {
    padding-top: 7px;
}

.padding-left-7 {
    padding-left: 7px;
}

.padding-right-7 {
    padding-right: 7px;
}

.padding-7 {
    padding: 7px;
}

.padding-bottom-8 {
    padding-bottom: 8px;
}

.padding-top-8 {
    padding-top: 8px;
}

.padding-left-8 {
    padding-left: 8px;
}

.padding-right-8 {
    padding-right: 8px;
}

.padding-8 {
    padding: 8px;
}

.padding-bottom-10 {
    padding-bottom: 10px;
}

.padding-top-10 {
    padding-top: 10px;
}

.padding-left-10 {
    padding-left: 10px;
}

.padding-right-10 {
    padding-right: 10px;
}

.padding-10 {
    padding: 10px;
}

.padding-bottom-20 {
    padding-bottom: 20px;
}

.padding-top-20 {
    padding-top: 20px;
}

.padding-left-20 {
    padding-left: 20px;
}

.padding-right-20 {
    padding-right: 20px;
}

.padding-right-23 {
    padding-right: 23px;
}

.padding-20 {
    padding: 20px;
}

.padding-top-25 {
    padding-top: 25px;
}

.padding-left-25 {
    padding-left: 25px;
}

.padding-35 {
    padding: 35px;
}

.padding-left-50 {
    padding-left: 50px;
}

.padding-right-50 {
    padding-right: 50px;
}

.padding-bottom-50 {
    padding-bottom: 50px;
}

.padding-top-50 {
    padding-top: 50px;
}

.padding-50 {
    padding: 50px;
}

.padding-left-80 {
    padding-left: 80px;
}

.padding-right-80 {
    padding-right: 80px;
}

.padding-bottom-80 {
    padding-bottom: 80px;
}

.padding-top-80 {
    padding-top: 80px;
}

.padding-80 {
    padding: 80px;
}

.margin-5 {
    margin: 5px;
}

.margin-horizontal-15 {
    margin: 0px 15px;
}

.margin-bottom-50 {
    margin-bottom: 50px;
}

.margin-bottom-25 {
    margin-bottom: 25px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-top-2 {
    margin-top: 2px;
}

.margin-top-5 {
    margin-top: 5px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-25 {
    margin-top: 25px;
}

.margin-top-30 {
    margin-top: 30px;
}

.margin-left-0 {
    margin-left: 0px;
}

.margin-left-10 {
    margin-left: 10px;
}

.margin-left-12 {
    margin-left: 12px;
}

.margin-left-15 {
    margin-left: 15px;
}

.margin-right-5 {
    margin-right: 5px;
}

.margin-right-10 {
    margin-right: 10px;
}

.margin-right-15 {
    margin-right: 15px;
}

.margin-right-20 {
    margin-right: 20px;
}

.margin-10 {
    margin: 10px;
}

.width-5 {
    width: 5px;
}

.width-10 {
    width: 10px;
}

.width-15 {
    width: 15px;
}

.width-20 {
    width: 20px;
}

.width-25 {
    width: 25px;
}

.width-30 {
    width: 30px;
}

.width-40 {
    width: 40px;
}

.width-50 {
    width: 50px;
}

.width-55 {
    width: 55px;
}

.width-60 {
    width: 60px;
}

.width-70 {
    width: 70px;
}

.width-75 {
    width: 75px;
}

.width-80 {
    width: 80px;
}

.width-90 {
    width: 90px;
}

.width-95 {
    width: 95px;
}

.width-120 {
    width: 120px;
    min-width: 120px;
}

.width-130 {
    width: 130px;
    min-width: 130px;
}

.width-150 {
    width: 150px;
}

.width-160 {
    width: 160px;
}

.width-240 {
    width: 240px;
}

.small-btn {
    padding: 0px 4px 0px 4px !important;
}

.italic {
    font-style: italic;
}

.code-font {
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}

.macroPassword {
    filter: blur(2px);
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='2');
    -ms-filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='2');
}

.ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}


/*
 * Font Sizes
 */
.font-xs {
    font-size: 85% !important;
}

.font-sm {
    font-size: 95% !important;
}

.font-md {
    font-size: 130% !important;
}

.font-lg {
    font-size: 160% !important;
}

.font-xl {
    font-size: 200% !important;
}

.font-400 {
    font-size: 400% !important;
}

.bordered-vertical-on-left {
    border-left: 5px inset #428bca;
    border-radius: 7px;
}

.no-padding {
    padding: 0 !important;
}

.no-margin {
    margin: 0 !important;
}

.border-top-1 {
    border-top: 1px solid #e3e3e3;
}

.slightBorder {
    border: 1px solid #e3e3e3;
}

.dropdown-item-xs {
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
}
