{{#if category_1}}
	
<ol class="breadcrumb page-breadcrumb">
	<li class="breadcrumb-item"><a href="javascript:void(0);">SmartAdmin</a></li>
	{{#if category_1}}<li class="breadcrumb-item">{{category_1}}</li>{{/if}}
	{{#if category_2}}<li class="breadcrumb-item">{{category_2}}</li>{{/if}}
	<li class="breadcrumb-item active">{{title}}</li>
	<li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date"></span></li>
</ol>

{{/if}}
