dbc_install='false`'
dbc_upgrade='true'
dbc_remove=''
dbc_dbtype='mysql'
dbc_dbuser='{{ mysql.user }}'
dbc_dbpass='{{ mysql.password }}'
dbc_dbserver='127.0.0.1'
dbc_dbport='3306'
dbc_dbname='{{ mysql.database }}'
dbc_dbadmin='root'
dbc_basepath=''
dbc_ssl=''
dbc_authmethod_admin=''
dbc_authmethod_user=''