.color-disp-demo {
	tr {

		&:first-child {
			td {
				box-shadow: inset 0 -5px 0 rgba(255,255,255,0.8);
			}
		}	
	}
}

.icon-demo {
	list-style: none;
	padding:0;
	li {
		border:1px solid #7f8995;
		background:#fff;
	}
}
