.page-content {
	color: $base-text-color;
}

/* contrast text */
.text-contrast {
	color: lighten($black, 20%);
}

/* text-gradient */
.text-gradient {
	background: -webkit-linear-gradient(180deg, $primary-700 25%, $primary-800 50%, $info-700 75%, $info-900 100%);
	background: linear-gradient(180deg, $primary-700 25%, $primary-800 50%, $info-700 75%, $info-900 100%);
	color: $primary-500;
}

/* looking for font size? Check _helpers.scss */