@include media-breakpoint-up($mobile-breakpoint) {
	.header-function-fixed {
		&.nav-function-top {
			.page-header {
				box-shadow: 0px 0px 28px 2px $header-border-bottom-color;
			}	
		}
	}
}