//highlight on-demand
@-webkit-keyframes highlight {
    from { background: $warning-50; }
    to { background: transparent; }
}

@keyframes highlight {
    from { background: $warning-50; }
    to { background: transparent; }
}