.page-breadcrumb {
	text-shadow: $white 0 1px;
}

$breadcrumb-arrow-color: $fusion-100;
$breadcrumb-arrow-color-hover: $primary-500;

.breadcrumb-arrow {

	li {

		a {
			@include text-contrast($breadcrumb-arrow-color)
			background: $breadcrumb-arrow-color;
		}
		&:nth-child(even){
			a {
				background-color: $breadcrumb-arrow-color;

				&:before{
					border-color: $breadcrumb-arrow-color;
				}
				&:after{
					border-left-color: $breadcrumb-arrow-color;
				}
			}
		}
		&:first-child{
			a {
				border-radius: $border-radius 0 0 $border-radius;
			}
		}


		a {   
			&:before,
			&:after{
				border:0 solid $breadcrumb-arrow-color;
			}
			&:before{
				&:after{
					border-left-color: $breadcrumb-arrow-color;
				}
				&:hover{
					background-color: $breadcrumb-arrow-color-hover;

				&:before{
					border-color: $breadcrumb-arrow-color-hover;
				 }
				&:after{
					border-left-color: $breadcrumb-arrow-color-hover;
				}
			}
			&:active{
				background-color: $breadcrumb-arrow-color;

				&:before{
					border-color: $breadcrumb-arrow-color;
				}
				&:after{
					border-left-color: $breadcrumb-arrow-color;
				}
			}
		}
	}
}