.carousel-control-prev:hover {
	background: linear-gradient(to right, rgba(0,0,0,0.25) 0%,rgba(0,0,0,0) 45%); 
}

.carousel-control-next:hover {
	background: linear-gradient(to left, rgba(0,0,0,0.25) 0%,rgba(0,0,0,0) 45%); 
}