/*
 * It is advised not to edit the smartadmin_production.css
 * as this will override any changes you make in the
 * later versions of this theme.
 *
 * We advise that you use use this CSS to override
 * SmartAdmin styles.
 *
 * Rename the stylesheet to whatever your liking so it will stay
 * unique to you with each update of SmartAdmin.
 */

/*
 * INDEX
 *
 * - HTML
 * - BODY
 * - CUSTOM STYLES
 */

.smart-timeline {
	position: relative;
}

.smart-timeline-list {
	list-style: none outside none;
	margin: 0;
	padding: 0;
}

.smart-timeline-list:after {
	background-color: #EEEEEE;
	bottom: 0;
	content: " ";
	display: block;
	left: 95px;
	position: absolute;
	top: 0;
	width: 2px;
	z-index: 1;
}

.smart-timeline-list li {
	margin: 0;
	padding: 15px 0;
	position: relative;
}

.smart-timeline-list > li:hover {
	background-color: #F4F4F4;
}

.smart-timeline-hover li:hover {
	background-color: #F9F9F9;
}

.smart-timeline-icon {
	background: none repeat scroll 0 0 #3276B1;
	border-radius: 50%;
	color: #FFFFFF;
	font-size: 14px;
	height: 32px;
	left: 80px;
	line-height: 28px;
	padding: 2px;
	position: absolute;
	text-align: center;
	top: 10px;
	width: 32px;
	z-index: 100;
}

.smart-timeline-icon > img {
	border: 2px solid #3276B1;
	border-radius: 50%;
	height: 32px;
	margin-left: -2px;
	margin-top: -2px;
	width: 32px;
}

.smart-timeline-time {
	float: left;
	text-align: right;
	width: 70px;
}

.smart-timeline-time > small {
	font-style: italic;
}

.smart-timeline-content {
	margin-left: 123px;
}

.header_export {
	background-color: #F8F8F8;
	border: 1px solid #BFBFBF;
	border-radius: 2px;
	cursor: default !important;
	display: inline-block;
	font-size: 19px;
	font-weight: 700;
	height: 30px;
	margin: 10px 0 0;
	padding: 2px;
	position: relative;
	text-align: center;
	text-decoration: none !important;
	min-width: 30px;
	color: #6D6A69;
}

.header_export:hover {
	color: #333333;
}

.header_export b {
	background: none repeat scroll 0 0 #0091D9;
	border-radius: 50%;
	box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1) inset, 0 -1px 0 rgba(0, 0, 0, 0.07) inset;
	color: #FFFFFF;
	cursor: pointer;
	display: inline-block;
	font-size: 10px;
	font-weight: 700;
	line-height: normal;
	padding: 2px 4px 3px;
	position: absolute;
	right: -5px;
	text-align: center;
	top: -5px;
}

.highlight {
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(255, 255, 153, 0.7);
	z-index: 1000;
}

.ajax_loader {
	display: none;
}

.clearfix {
	clear: both;
}

.no-padding {
	padding: 0;
	margin: 0;
}

.hintmark:after {
	color: #4759FF;
	content: " *";
	display: inline;
}

.hintmark_before:before {
	color: #4759FF;
	content: "* ";
	display: inline;
}

.hintmark_red:after {
	color: red;
	content: " *";
	display: inline;
}

.display_none {
	display: none;
}

#global_ajax_loader {
	padding: 11px 34px 11px 0 !important;
	vertical-align: top;
	float: right;
	color: #348ED1;
	text-shadow: 0 0 5px #348ED1;
	display: none;
}

/* phpinfo(); */

#phpinfo {
	border: none;
	background: #fff;
	font-size: 12px;
	font-weight: normal;
}

#phpinfo td, th, h1, h2 {
}

#phpinfo pre {
	margin: 0;
}

#phpinfo a:link {
	color: #000099;
	text-decoration: none;
	background-color: #ffffff;
}

#phpinfo a:hover {
	text-decoration: underline;
}

#phpinfo table {
	border-collapse: collapse;
	width: 100%;
	border: none;
	background-color: #ffffff;
}

#phpinfo .center {
	text-align: center;
	font-weight: normal;
	word-wrap: break-word;
}

#phpinfo .center table {
	text-align: left;
}

#phpinfo .center th {
	text-align: center !important;
	background: none repeat scroll 0 0 #F7F7F7;
}

#phpinfo td, th {
	border: 1px solid #ddd;
}

#phpinfo h1 {
}

#phpinfo h2 {
}

#phpinfo .p {
	text-align: left;
}

#phpinfo .e {
	font-weight: normal;
	padding: 3px;
	background: #9999cc;
	border-bottom: 1px solid #ddd;
}

#phpinfo .h {
	color: #333;
	padding-top: 10px;
	background: #eee
}

#phpinfo .v {
	background-color: #fff;
	color: #707070;
	padding: 3px;
	word-wrap: break-word;
}

#phpinfo .vr {
	background-color: #cccccc;
	text-align: right;
	color: #000000;
}

#phpinfo img {
	float: left;
	border: 0;
	padding: 5px;
}

#phpinfo hr {
	width: 800px;
	background-color: #cccccc;
	border: 0;
	height: 1px;
	color: #000000;
}

/* end phpinfo */
.input_error_label {
	color: #a94442;
}

.input_error_field {
	background: #fff0f0;
	border: 1px solid #a94442; /*rgba(255, 255, 255, 0.1);*/
}

div.danger .chosen-container-multi .chosen-choices li.search-choice {
	position: relative;
	margin: 3px 0 3px 5px;
	padding: 3px 20px 3px 5px;
	border-radius: 3px;
	background-color: hsl(0, 77%, 34%) !important;
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e42f2f", endColorstr="#991313");
	background-image: -moz-linear-gradient(top, #e42f2f, #991313);
	background-image: -ms-linear-gradient(top, #e42f2f, #991313);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e42f2f), color-stop(100%, #991313));
	background-image: -webkit-linear-gradient(top, #e42f2f, #991313);
	background-image: -o-linear-gradient(top, #e42f2f, #991313);
	background-image: linear-gradient(#e42f2f, #991313);
	border: 1px solid #991313;
	border-bottom-color: hsl(0, 77%, 29%);
	color: #fff !important;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
	-webkit-font-smoothing: antialiased;
	background-clip: padding-box;
	box-shadow: 0 0 2px white inset, 0 1px 0 rgba(0, 0, 0, 0.05);
	line-height: 13px;
	cursor: default;
}

div.success .chosen-container-multi .chosen-choices li.search-choice {
	position: relative;
	margin: 3px 0 3px 5px;
	padding: 3px 20px 3px 5px;
	border-radius: 3px;
	background-color: hsl(107, 51%, 35%) !important;
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6bc651", endColorstr="#3f862b");
	background-image: -moz-linear-gradient(top, #6bc651, #3f862b);
	background-image: -ms-linear-gradient(top, #6bc651, #3f862b);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6bc651), color-stop(100%, #3f862b));
	background-image: -webkit-linear-gradient(top, #6bc651, #3f862b);
	background-image: -o-linear-gradient(top, #6bc651, #3f862b);
	background-image: linear-gradient(#6bc651, #3f862b);
	border: 1px solid #3f862b;
	border-bottom-color: hsl(107, 51%, 30%);
	color: #fff !important;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
	-webkit-font-smoothing: antialiased;
	background-clip: padding-box;
	box-shadow: 0 0 2px white inset, 0 1px 0 rgba(0, 0, 0, 0.05);
	line-height: 13px;
	cursor: default;
}

div.info .chosen-container-multi .chosen-choices li.search-choice {
	position: relative;
	margin: 3px 0 3px 5px;
	padding: 3px 20px 3px 5px;
	border-radius: 3px;
	background-color: hsl(214, 37%, 28%) !important;
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7a99c1", endColorstr="#2c4361");
	background-image: -moz-linear-gradient(top, #7a99c1, #2c4361);
	background-image: -ms-linear-gradient(top, #7a99c1, #2c4361);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7a99c1), color-stop(100%, #2c4361));
	background-image: -webkit-linear-gradient(top, #7a99c1, #2c4361);
	background-image: -o-linear-gradient(top, #7a99c1, #2c4361);
	background-image: linear-gradient(#7a99c1, #2c4361);
	border: 1px solid #2c4361;
	border-bottom-color: hsl(214, 37%, 19.5%);
	color: #fff !important;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.56);
	-webkit-font-smoothing: antialiased;
	background-clip: padding-box;
	box-shadow: 0 0 2px white inset, 0 1px 0 rgba(0, 0, 0, 0.05);
	line-height: 13px;
	cursor: default;
}

div.danger .chosen-container-multi .chosen-choices li.search-choice .search-choice-close,
div.success .chosen-container-multi .chosen-choices li.search-choice .search-choice-close,
div.info .chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
	position: absolute;
	top: 4px;
	right: 3px;
	display: block;
	width: 12px;
	height: 12px;
	background: url('chosen-sprite.png') -42px 1px no-repeat;
	font-size: 1px;
}

div.danger .chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover,
div.success .chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover,
div.info .chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover {
	background-position: -42px -10px;
}

.margin-bottom-50 {
	margin-bottom: 50px;
}

.margin-bottom-25 {
	margin-bottom: 25px;
}

.margin-bottom-10 {
	margin-bottom: 10px;
}

.margin-top-10 {
	margin-top: 10px;
}

.margin-left-10 {
	margin-left: 10px;
}

.margin-right-10 {
	margin-right: 10px;
}

.margin-10 {
	margin: 10px;
}

.padding-bottom-0 {
	padding-bottom: 0px;
}

.padding-top-0 {
	padding-top: 0px;
}

.padding-left-0 {
	padding-left: 0px;
}

.padding-right-0 {
	padding-right: 0px;
}

.padding-0 {
	padding: 0px!important;
}

.padding-bottom-5 {
	padding-bottom: 5px;
}

.padding-top-5 {
	padding-top: 5px;
}

.padding-left-5 {
	padding-left: 5px;
}

.padding-right-5 {
	padding-right: 5px;
}

.padding-5 {
	padding: 5px;
}

.padding-bottom-8 {
	padding-bottom: 8px;
}

.padding-top-8 {
	padding-top: 8px;
}

.padding-left-8 {
	padding-left: 8px;
}

.padding-right-8 {
	padding-right: 8px;
}

.padding-8 {
	padding: 8px;
}

.padding-bottom-10 {
	padding-bottom: 10px;
}

.padding-top-10 {
	padding-top: 10px;
}

.padding-left-10 {
	padding-left: 10px;
}

.padding-right-10 {
	padding-right: 10px;
}

.padding-10 {
	padding: 10px;
}

.padding-bottom-20 {
	padding-bottom: 20px;
}

.padding-top-20 {
	padding-top: 20px;
}

.padding-left-20 {
	padding-left: 20px;
}

.padding-right-20 {
	padding-right: 20px;
}

.padding-20 {
	padding: 20px;
}

.padding-35 {
	padding: 35px;
}

.padding-left-50 {
	padding-left: 50px;
}

.padding-right-50 {
	padding-right: 50px;
}

.padding-bottom-50 {
	padding-bottom: 50px;
}

.padding-top-50 {
	padding-top: 50px;
}

.padding-50 {
	padding: 50px;
}

.padding-left-80 {
	padding-left: 80px;
}

.padding-right-80 {
	padding-right: 80px;
}

.padding-bottom-80 {
	padding-bottom: 80px;
}

.padding-top-80 {
	padding-top: 80px;
}

.padding-80 {
	padding: 80px;
}

.margin-horizontal-15{
	margin: 0px 15px;
}

.config_editor {
	border: 1px solid black;
	background: #EDEEEE;
	font-family: courier, serif;
	padding: 10px;
}

.hosttemplate .fa-link:not(.default),
.hosttemplate:hover .fa-chain-broken {
	display: none;
	cursor: pointer;
}

.hosttemplate:hover .fa-link {
	display: inline;
}

.dropdown-menu > li > a:hover {
	background-color: #3276B1;
	color: #FFFFFF;
}

.bg-color-lightGray {
	background-color: #EEEEEE !important;
}

.group-result {
	cursor: pointer !important;
}

.dataTables_wrapper .dt-wrapper {
	overflow: visible;
}

.class-default {
	color: #CFCFCF;
}

.class-info {
	color: #405979;
}

.fa-chain-default,
.fa-chain-non-default {
	font-size: 20px;
	transition: all 1s;
}

.fa-chain-non-default {
	cursor: pointer;
}

.status_size {
	width: 27px;
	/* height: 18px; */
	height: 21px
}

.margin-left-n-4 {
	margin-left: -4px;
}

.pointer {
	cursor: pointer;
}

.changelog_delete {
	text-decoration: line-through;
	font-style: italic;
}

.form-control-default-width {
	display: inline-block;
	width: auto !important;
}

.error-legend {
	border: 0 none;
	margin-bottom: 0;
	width: auto;
	color: #a94442;
}

.error-fieldset {
	border: 1px dotted rgba(169, 68, 66, 0.5);
	-webkit-box-shadow: 0 0 0 0 #000;
	box-shadow: 0 0 0 0 #000;
	margin-bottom: 10px;
}

.bold {
	font-weight: bold;
}

.chosen-service .title-row {
	/*	border-bottom: 1px solid #888;*/
	font-weight: bold;
	margin-top: 1em;
}

.chosen-service .control-label {
	overflow: hidden;
}

.datetimepicker .input-group .input-group-addon {
	cursor: pointer;
}

.width-5 {
	width: 5px;
}

.width-10 {
	width: 10px;
}

.width-15 {
	width: 15px;
}

.width-20 {
	width: 20px;
}

.width-25 {
	width: 25px;
}

.width-30 {
	width: 30px;
}

.width-40 {
	width: 40px;
}

.width-50 {
	width: 50px;
}

.width-60 {
	width: 60px;
}

.width-70 {
	width: 70px;
}

.width-75 {
	width: 75px;
}

.width-90 {
	width: 90px;
}

.width-120 {
	width: 120px;
	min-width: 120px;
}

.width-150 {
	width: 150px;
}

.width-160 {
	width: 160px;
}

.width-240{
	width: 240px;
}

.mobile_table {
	overflow-x: auto !important;
}

#filterMainMenu {
	background-color: rgba(255, 255, 255, 0.1);
	border: 1px solid rgba(255, 255, 255, 0.2);
	color: #fff;
	font-size: 14px;
	height: 27px;
	padding: 3px 4px;
	width: 80%;
}

#searchMainMenu {
	background-color: rgba(255, 255, 255, 0.1);
	border-top: 1px solid rgba(255, 255, 255, 0.2);
	border-right: 1px solid rgba(255, 255, 255, 0.2);
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	color: #999995;
	font-size: 14px;
	height: 27px;
	padding-left: 12px;
	width: 20%;
	line-height: normal;
}

#searchMainMenu i {
	padding-left: 12px;
	padding-top: 6px;
}

.search-highlight {
	color: #31708f;
}

.icon-warning {
	height: 34px;
	width: 32px;
}

.dropDown {
	position: fixed;
}

.systemsetting-input {
	padding-left: 5px;
}

#localClienttime {
	font-weight: normal;
	background-color: #CECECE;
	/*color: #FFFFFF;*/
}

#chat-body {
	height: 500px;
}

.bold {
	font-weight: bold;
}

.graph_legend {
	padding: 4px 0;
	background-color: rgba(249, 249, 249, 1);
	opacity: 0.9;
	box-shadow: 1px 1px 3px #888;
	transition: all 1s ease 0s;
	top: 828px;
	left: 722px;
	display: block;
	margin-bottom: 2em;
}

.grapherLoader {
	position: absolute;
	padding-top: 50px;
	top: 0;
	left: 0;
	width: 947px;
	color: #000;
}

#popupGraphContainer {
	position: absolute;
	top: 320px;
	left: 495px;
	width: 750px;
	height: auto;
	background-color: #FFF;
	box-shadow: 0 0 15px #9E9E9E;
	border-radius: 3px;
	display: none;
}

#render-graph {
	margin-top: 1.5em;
}

#render-graph .graph {
	margin-bottom: 5em;
}

/* A (hopefully) temporary fix for modal windows in Bootstrap v3.3.1 */
/* Cfleck 16.07.2015 disabled to fix Modal Windows and "jumping" content for Dashboard*/
body {
	/*padding-right: 0 !important;*/
}

.docu-badge {
	position: absolute;
	right: 2px;
	top: -6px;
	opacity: 0.8;
	font-size: 8px;
}

.ok, .up {
	color: #449D44 !important;
}

.warning {
	color: #DF8F1D !important;
}

.critical, .down {
	color: #C9302C !important;
}

.unknown, .unreachable {
	color: #92A2A8 !important;
}

rect.ok {
	fill: #449D44;
}

rect.critical {
	fill: #C9302C;
}

rect.unknown {
	fill: #92A2A8;
}

.parentstatus {
	background: #DBDBDB;
	padding-top: 5px;
	padding-bottom: 5px;
}

.opacity-50 {
	opacity: 0.5;
}

.no-background {
	background: transparent !important;
}

/*Calendar CSS*/

#calendar-buttons {
	position: relative !important;
	margin-left: 15px !important;
	top: 0 !important;
}

.fc-grid .fc-day-number {
	float: left;
}

.calendar-button {
	float: right;
}

.fc-event .fc-event-title {
	padding: 0.5em;
	border: none;
}

.fc-day-grid-event .fc-content {
	/* deactivate force events to be one-line tall */
	white-space: normal !important;
	overflow: visible !important;
}

.fc-icon-left-single-arrow::after {
	font-size: 100% !important;
}

.fc-icon-right-single-arrow::after {
	font-size: 100% !important;
}

.fc-state-default:hover {
	background: #E5E5E5 none;
	box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.defaultHoliday {
	background: #356E35 !important;
}

/*BlockMessages Component*/
.alert-can-fly {
	position: absolute;
	z-index: 10;
	width: 80%;
	top: 1%;
	border: 1px solid #aaa;
	box-shadow: 5px 5px 15px 0 #ccc;
}

.flying-without-margin {
	margin: 0;
}

.slider .tooltip.top {
	/* Fixes Bootstrap-slider tooltip position. */
	bottom: 20px;
}


.slider-slim .slider .slider-track {
	height: 5px;
	margin-bottom:0px;
}


.slider-slim .slider .slider-handle {
	font-size: 8px;
	height: 15px;
	width: 15px;
	line-height: 13px;
	margin-left: -7px;
}

.status_datatable_widget {
	overflow: hidden;
	height: 350px;
}

.downtime-report-state-overview {
	border: 1px solid #fff;
	text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
	color: #fff;
}

.search_list_item_active {
	background-color: rgba(69, 69, 69, 0.8);
	color: #ffffff;
}

/** Statusmaps **/
#my_statusmap {
	width: 100%;
}

#my_statusmap canvas {
	padding: 0 0;
}

#node_search {
	background-color: #4c4f53;
	padding: 10px;
	width: 250px;
	color: #FFF;
	position: absolute;
	left: -1px;
	border-bottom-right-radius: 5px;
	box-shadow: 5px 5px 15px #888888;
	z-index: 900;
}

#node_search input {
	background-color: rgba(255, 255, 255, 0.1);
	border: 1px solid rgba(255, 255, 255, 0.2);
	color: #fff;
	font-size: 14px;
	height: 27px;
	padding: 3px 4px;
	width: 80%;
	margin-top: 5px;
}

#node_search button {
	background-color: rgba(255, 255, 255, 0.1);
	border: 1px solid rgba(255, 255, 255, 0.2);
	color: #fff;
	font-size: 14px;
	height: 27px;
	padding: 3px 4px;
	margin-left: 2px;
	position: absolute;
	width: 46px;
	margin-top: 5px;
}

#autocomplete_results {
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	width: 602px;
	background: transparent;
	border: 0 !important;
	box-shadow: none !important;
	position: absolute;
}

#autocomplete_results a {
	width: 200px;
	padding: 2px 5px 2px 5px;
}

a.autocomplete-items {
	background-color: #4c4f53;
	border: 1px solid #FFF;
	padding-left: 5px;
}

a.autocomplete-items:hover {
	background: linear-gradient(to right, transparent, seashell);
	text-decoration: none;
	cursor: pointer;
}

a.autocomplete-items {
	color: #FFF;
}

.popoverTable {
	color: rgba(90, 90, 90, 1) !important;
}

/** Fix for scrollable infowindows **/
.popoverTable>tbody>tr>td {
	font-size: 11px;
	padding: 1px !important;
}

.popoverListTable>tbody>tr>td {
	font-size: 11px;
	padding: 1px !important;
}

.statusmapInfoBox{
	max-height: 700px;
	overflow-y: auto;
}
/** ***** **/

#calendar .popover {
	z-index: 10;
}

#calendar .popover-title {
	font-size: 85% !important;
	color: #31708f !important;
}

#calendar .popover-content {
	font-size: 75% !important;
	color: #4c4f53 !important;
}

.fc-event-title {
	padding: 0 1px;
	white-space: nowrap;
	overflow: hidden;
}

.evaluation-period {
	/*background:#FFFFF0!important;*/
	background-color: #FFF8DC;
	font-weight: bold;
}

/* state unknown*/
.btn-unknown {
	color: #ffffff;
	background-color: #A4BAC1;

}

.btn-unknown:hover,
.btn-unknown:focus,
.btn-unknown:active,
.btn-unknown.active {
	color: #ffffff;
	background-color: #869499;
	border-color: #869499;
}

.menustats {
	display: inline-block;
	margin: 0;
	padding: 11px 34px 11px 0 !important;
	background: 0 0;
	vertical-align: top;
	list-style: none;
	color: #bbb !important;
}

.menustats > li {
	display: inline-block;
}

.jvectormap-zoomin i {
	color: #c4c4c4;
}

.jvectormap-zoomout i {
	color: #c4c4c4;
}

.custom-tree li{
	padding:0!important;
}

.custom-tree li span{
	border:none!important;
}

.custom-tree li.parent_li > span:hover,
.custom-tree li.parent_li > span:hover + ul li span {
	background-color: none!important;
	background: none!important;
	border: 1px solid yellow;
	color: #337AB7!important;
}

.custom-tree > ul {
	padding-left: 0;
}

.custom-tree ul ul {
	padding-left: 34px;
	padding-top: 10px!important;
	padding-bottom: 10px!important;
}
/*
.custom-tree li.parent_li > span:hover {
	background-color: #4F9E4F;
	border: 1px solid #468C46;
	color: #ffffff;
}
*/
.custom-tree li.parent_li > span:hover + ul li::before {
	border-left-color: #FAA937;
}

.custom-tree li.parent_li > span:hover + ul li::after {
	border-top-color: #FAA937;
}

.custom-tree li.parent_li > span:hover + ul li span {
	background: #FDDFB3 !important;
	border: 1px solid #FAA937;
	color: #4C4F53!important;
}

label[class^='aco-delete']:after{
	font-family: "FontAwesome";
	padding-left:5px;
	content: "\f014";
	color:#C9302C;
}

label[class^='aco-create']:after, label[class^='aco-add']:after{
	font-family: "FontAwesome";
	padding-left:5px;
	content: "\f067";
	color:#449D44;
}

label[class^='aco-edit']:after{
	font-family: "FontAwesome";
	padding-left:5px;
	content: "\f044";
	color:#57889C;
}

label[class^='aco-index']:after{
	font-family: "FontAwesome";
	padding-left:5px;
	content: "\f06e";
	color:#57889C;
}

label[class^='aco-copy']:after{
	font-family: "FontAwesome";
	padding-left:5px;
	content: "\f0c5";
	color:#57889C;
}

label[class^='aco-host']:after, label[class^='aco-service']:after{
	font-family: "FontAwesome";
	padding-left:5px;
	content: "\f00b";
	color:#57889C;
}

.docs-container {
	padding: 5px;
}

.docs-container h5 {
	padding-left: 15px;;
}

.row {
	/* TODO Remove this one day and fix everything else! Work WITH bootstrap, not against it. */
	margin-left: 0;
	margin-right: 0;
}

.grid-stack{
	min-height:300px;
}

.grid-stack-item-content {
	border: 1px solid gray;
}

.grid-stack-placeholder{
	background-color:#337ab7;
}


.grid-stack-item-content .jarviswidget{
	margin-bottom:0;
}

.grid-stack-item-content .jarviswidget div{
	border:0px;
}

.grid-stack-item div.ui-icon{
	background:none!important;
}

.grid-stack-item-content .jarviswidget div .data-widget-colorbutton{
	min-width: 19px;
}

.grid-stack-item-content .jarviswidget div .jarviswidget-edit-btn{
	border-right: 1px solid rgba(0,0,0,.09);
}

.ellipsis{
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

/* documentation wiki */
.wiki-category {
	border-bottom: 1px dashed #888;
}
.wiki-category > h3 {
	padding: 10px 0;
	margin: 0;
}
.wiki-category .search-results {
	margin: 0 0 0 1em;
	padding: 0;
	border-top: none;
}
.wiki-search-results .search-results {
	padding: 10px 5px 0 5px;
	border-top: 1px dashed #888;
}
.search-results > h4 {
	font-size: 1.25em;
}
.wiki-category:last-child, .wiki-search-results .search-results:first-child {
	border: none;
}

.pieChartHosts,
.pieChartServices{
	text-align:center;
}

.pagingInterval{
	width: 310px;
	padding-top: 8px;
	display: flex;
}
.pagingIntervalValue{
	font-weight:bold;
	padding: 0px 3px;
}

.service-status-list-body .slider-slim,
.host-status-list-body .slider-slim{
	display: none;
}

.rotateTabs .form-group-slider{
	width:350px;
	margin-bottom: -10px;
}

.tabTargetDestination{
	border: 1px solid #EEE;
	width:5em;
	height:33px
}

.detailsForPiechart{
	position:absolute;
	background-color:#FFF;
	top:0px;
	height:140px;
	width:100%;
	display:none;
}

.toggleDetailsForPiechart{
	width:100%;
	border-top: 1px solid #eee!important;
	border-bottom: 1px solid #eee!important;
	margin:5px 0px;
	cursor:pointer;
}

.node-list{
	height: 211px;
}

.height-100{
	height:100%;
}

#node-list-search{
	width: 100%;
	border: none;
	border-bottom: 1px solid #c2c2c2;
	padding-left: 10px;
}

.dashboard-table{
	padding-top: 3px!important;
	padding-bottom: 3px!important;
	font-size: 85%;
}

.tab-select-menu-fix{
	color: #333!important;
}

.tab-select-menu-fix:hover{
	color:#FFF!important;
}

.tabTargetDestination{
	border: 1px solid #EEE;
	width:5em;
	height:33px
}

.tachoPreviewContainer{
	position: absolute;
	z-index: 2;
	background: rgba(100, 100, 100, 0.5);
	top: 0px;
	left: 0px;
	width: 100%;
	text-align: center;
	padding-top: 15px;
	height: 414px;
}

#nag_longoutput_content,
#verifyOutput{
	white-space: pre;
}

.white-space-nowrap{
	white-space: nowrap;
}

#FilterIndexForm label:after{
	content:'';
}

.macroPassword{
	filter: blur(2px);
	-webkit-filter: blur(2px);
	-moz-filter: blur(2px);
	-o-filter: blur(2px);
	-ms-filter: blur(2px);
	filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='2');
	-ms-filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='2');
}

.datepicker{
	z-index: 1051 !important;
}

.editItemWidth{
	min-width:52px;
	max-width:52px;
}
.tableStatewidth{
	min-width:155px;
}

.cursor-default{
	cursor: default;
}

#scroll-top-container{
	background: rgba(71, 69, 68, 0.8);
	color: #FFF;
	position: fixed;
	bottom:30px;
	right:30px;
	padding: 1em;
	border-radius: 8px;
	display:none;
}

.text-transform-none{
	text-transform: none!important;
}

.select_all, .deselect_all{
	font-style:italic;
}

.select_all:before{
	font-family: "FontAwesome";
	font-style:normal;
	padding-right:5px;
	content: "\f046";
}

.deselect_all:before{
	font-family: "FontAwesome";
	font-style:normal;
	padding-right:5px;
	content: "\f096";
}

#copyAll{
	color:#333;
	text-decoration: none;
}

.login-copyright {
	background-color: #fff;
}

.service_table_host_header {
	background-color: #EEEEEE;
}

.status_headline {
	margin: 12px 0 28px;
}