/*
 * It is advised not to edit the smartadmin_production.css
 * as this will override any changes you make in the
 * later versions of this theme.
 *
 * We advise that you use use this CSS to override
 * SmartAdmin styles.
 *
 * Rename the stylesheet to whatever your liking so it will stay
 * unique to you with each update of SmartAdmin.
 */

/*
 * INDEX
 *
 * - HTML
 * - BODY
 * - CUSTOM STYLES
 */

.smart-timeline {
    position: relative;
}

.smart-timeline-list {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

.smart-timeline-list:after {
    background-color: #EEEEEE;
    bottom: 0;
    content: " ";
    display: block;
    left: 95px;
    position: absolute;
    top: 0;
    width: 2px;
    z-index: 1;
}

.smart-timeline-list li {
    margin: 0;
    padding: 15px 0;
    position: relative;
}

.smart-timeline-list > li:hover {
    background-color: #F4F4F4;
}

.smart-timeline-hover li:hover {
    background-color: #F9F9F9;
}

.smart-timeline-icon {
    background: none repeat scroll 0 0 #3276B1;
    border-radius: 50%;
    color: #FFFFFF;
    font-size: 14px;
    height: 32px;
    left: 80px;
    line-height: 28px;
    padding: 2px;
    position: absolute;
    text-align: center;
    top: 10px;
    width: 32px;
    z-index: 100;
}

.smart-timeline-icon > img {
    border: 2px solid #3276B1;
    border-radius: 50%;
    height: 32px;
    margin-left: -2px;
    margin-top: -2px;
    width: 32px;
}

.smart-timeline-time {
    float: left;
    text-align: right;
    width: 70px;
}

.smart-timeline-time > small {
    font-style: italic;
}

.smart-timeline-content {
    margin-left: 123px;
}

.header_export {
    background-color: #F8F8F8;
    border: 1px solid #BFBFBF;
    border-radius: 2px;
    cursor: default !important;
    display: inline-block;
    font-size: 19px;
    font-weight: 700;
    height: 30px;
    margin: 10px 0 0;
    padding: 2px;
    position: relative;
    text-align: center;
    text-decoration: none !important;
    min-width: 30px;
    color: #6D6A69;
}

.header_export:hover {
    color: #333333;
}

.header_export b {
    background: none repeat scroll 0 0 #0091D9;
    border-radius: 50%;
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1) inset, 0 -1px 0 rgba(0, 0, 0, 0.07) inset;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 10px;
    font-weight: 700;
    line-height: normal;
    padding: 2px 4px 3px;
    position: absolute;
    right: -5px;
    text-align: center;
    top: -5px;
}

.highlight {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255, 255, 153, 0.7);
    z-index: 1000;
}

.ajax_loader {
    display: none;
}

.clearfix {
    clear: both;
}

.no-padding {
    padding: 0;
    margin: 0;
}

.no-padding-top {
    padding-top: 0 !important;
}

.hintmark:after {
    color: #4759FF;
    content: " *";
    display: inline;
}

.hintmark_before:before {
    color: #4759FF;
    content: "* ";
    display: inline;
}

.hintmark_red:after {
    color: red;
    content: " *";
    display: inline;
}

.display_none {
    display: none;
}

#global_ajax_loader {
    padding: 11px 34px 11px 0 !important;
    vertical-align: top;
    float: right;
    color: #348ED1;
    text-shadow: 0 0 5px #348ED1;
    display: none;
}

/* phpinfo(); */

#phpinfo {
    border: none;
    background: #fff;
    font-size: 12px;
    font-weight: normal;
}

#phpinfo td, th, h1, h2 {
}

#phpinfo pre {
    margin: 0;
}

#phpinfo a:link {
    color: #000099;
    text-decoration: none;
    background-color: #ffffff;
}

#phpinfo a:hover {
    text-decoration: underline;
}

#phpinfo table {
    border-collapse: collapse;
    width: 100%;
    border: none;
    background-color: #ffffff;
}

#phpinfo .center {
    text-align: center;
    font-weight: normal;
    word-wrap: break-word;
}

#phpinfo .center table {
    text-align: left;
}

#phpinfo .center th {
    text-align: center !important;
    background: none repeat scroll 0 0 #F7F7F7;
}

#phpinfo td, th {
    border: 1px solid #ddd;
}

#phpinfo h1 {
}

#phpinfo h2 {
}

#phpinfo .p {
    text-align: left;
}

#phpinfo .e {
    font-weight: normal;
    padding: 3px;
    background: #9999cc;
    border-bottom: 1px solid #ddd;
}

#phpinfo .h {
    color: #333;
    padding-top: 10px;
    background: #eee
}

#phpinfo .v {
    background-color: #fff;
    color: #707070;
    padding: 3px;
    word-wrap: break-word;
}

#phpinfo .vr {
    background-color: #cccccc;
    text-align: right;
    color: #000000;
}

#phpinfo img {
    float: left;
    border: 0;
    padding: 5px;
}

#phpinfo hr {
    width: 800px;
    background-color: #cccccc;
    border: 0;
    height: 1px;
    color: #000000;
}

/* end phpinfo */
.input_error_label {
    color: #a94442;
}

.input_error_field {
    background: #fff0f0;
    border: 1px solid #a94442; /*rgba(255, 255, 255, 0.1);*/
}

div.danger .chosen-container-multi .chosen-choices li.search-choice {
    position: relative;
    margin: 0 6px 0 0;
    padding: 3px 24px 3px 5px;
    border-radius: 3px;
    background-color: #d9534f !important;
    border: 1px solid #d43f3a;
    color: #fff !important;
    font-size: 14px;
    line-height: 1.428571429;
    cursor: default;
}

div.danger .chosen-container-multi .chosen-choices li.search-choice a.search-choice-close {
    top: 8px;
    right: 6px;
}

div.success .chosen-container-multi .chosen-choices li.search-choice {
    position: relative;
    margin: 0 6px 0 0;
    padding: 3px 24px 3px 5px;
    border-radius: 3px;
    background-color: #5cb85c !important;
    border: 1px solid #4cae4c;
    color: #fff !important;
    font-size: 14px;
    line-height: 1.428571429;
    cursor: default;
}

div.success .chosen-container-multi .chosen-choices li.search-choice a.search-choice-close {
    top: 8px;
    right: 6px;
}

div.info .chosen-container-multi .chosen-choices li.search-choice {
    position: relative;
    margin: 0 6px 0 0;
    padding: 3px 24px 3px 5px;
    border-radius: 3px;
    background-color: #3276B1 !important;
    border: 1px solid #265986;
    color: #fff !important;
    font-size: 14px;
    line-height: 1.428571429;
    cursor: default;
}

div.default .chosen-container-multi .chosen-choices li.search-choice {
    position: relative;
    margin: 0 6px 0 0;
    padding: 3px 24px 3px 5px;
    border-radius: 3px;
    background-color: #adadad !important;
    border: 1px solid #a0a0a0;
    color:#fff !important;
    font-size: 14px;
    line-height: 1.428571429;
    cursor: default;
}


div.danger .chosen-container-multi .chosen-choices li.search-choice .search-choice-close,
div.success .chosen-container-multi .chosen-choices li.search-choice .search-choice-close,
div.info .chosen-container-multi .chosen-choices li.search-choice .search-choice-close,
div.default .chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
    position: absolute;
    right: 3px;
    display: block;
    width: 12px;
    height: 12px;
    background: url('chosen-sprite.png') -42px 1px no-repeat;
    font-size: 1px;
}

div.danger .chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover,
div.success .chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover,
div.info .chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover,
div.default .chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover {
    background-position: -42px -10px;
}

.margin-bottom-50 {
    margin-bottom: 50px;
}

.margin-bottom-25 {
    margin-bottom: 25px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}


.margin-top-2 {
    margin-top: 2px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-left-10 {
    margin-left: 10px;
}

.margin-left-15 {
    margin-left: 15px;
}

.margin-right-10 {
    margin-right: 10px;
}

.margin-10 {
    margin: 10px;
}

.padding-bottom-0 {
    padding-bottom: 0px;
}

.padding-top-0 {
    padding-top: 0px;
}

.padding-left-0 {
    padding-left: 0px;
}

.padding-right-0 {
    padding-right: 0px;
}

.padding-0 {
    padding: 0px !important;
}

.padding-bottom-2 {
    padding-bottom: 2px;
}

.padding-top-2 {
    padding-top: 2px;
}

.padding-left-2 {
    padding-left: 2px;
}

.padding-right-2 {
    padding-right: 2px;
}

.padding-2 {
    padding: 2px;
}

.padding-bottom-5 {
    padding-bottom: 5px;
}

.padding-top-5 {
    padding-top: 5px;
}

.padding-left-5 {
    padding-left: 5px;
}

.padding-right-5 {
    padding-right: 5px;
}

.padding-5 {
    padding: 5px;
}

.padding-bottom-7 {
    padding-bottom: 7px;
}

.padding-top-7 {
    padding-top: 7px;
}

.padding-left-7 {
    padding-left: 7px;
}

.padding-right-7 {
    padding-right: 7px;
}

.padding-7 {
    padding: 7px;
}


.padding-bottom-8 {
    padding-bottom: 8px;
}

.padding-top-8 {
    padding-top: 8px;
}

.padding-left-8 {
    padding-left: 8px;
}

.padding-right-8 {
    padding-right: 8px;
}

.padding-8 {
    padding: 8px;
}

.padding-bottom-10 {
    padding-bottom: 10px;
}

.padding-top-10 {
    padding-top: 10px;
}

.padding-left-10 {
    padding-left: 10px;
}

.padding-right-10 {
    padding-right: 10px;
}

.padding-10 {
    padding: 10px;
}

.padding-bottom-20 {
    padding-bottom: 20px;
}

.padding-top-20 {
    padding-top: 20px;
}

.padding-left-20 {
    padding-left: 20px;
}

.padding-right-20 {
    padding-right: 20px;
}

.padding-20 {
    padding: 20px;
}

.padding-35 {
    padding: 35px;
}

.padding-left-50 {
    padding-left: 50px;
}

.padding-right-50 {
    padding-right: 50px;
}

.padding-bottom-50 {
    padding-bottom: 50px;
}

.padding-top-50 {
    padding-top: 50px;
}

.padding-50 {
    padding: 50px;
}

.padding-left-80 {
    padding-left: 80px;
}

.padding-right-80 {
    padding-right: 80px;
}

.padding-bottom-80 {
    padding-bottom: 80px;
}

.padding-top-80 {
    padding-top: 80px;
}

.padding-80 {
    padding: 80px;
}

.margin-horizontal-15 {
    margin: 0px 15px;
}

.config_editor {
    border: 1px solid black;
    background: #EDEEEE;
    font-family: courier, serif;
    padding: 10px;
}

.hosttemplate .fa-link:not(.default),
.hosttemplate:hover .fa-chain-broken {
    display: none;
    cursor: pointer;
}

.hosttemplate:hover .fa-link {
    display: inline;
}

.dropdown-menu > li > a:hover {
    background-color: #3276B1;
    color: #FFFFFF;
}

.bg-color-lightGray {
    background-color: #EEEEEE !important;
}

.group-result {
    cursor: pointer !important;
}

.dataTables_wrapper .dt-wrapper {
    overflow: visible;
}

.class-default {
    color: #CFCFCF;
}

.class-info {
    color: #405979;
}

.fa-chain-default,
.fa-chain-non-default {
    font-size: 20px;
    transition: all 1s;
}

.fa-chain-non-default {
    cursor: pointer;
}

.status_size {
    width: 27px;
    /* height: 18px; */
    height: 21px
}

.margin-left-n-4 {
    margin-left: -4px;
}

.pointer {
    cursor: pointer;
}

.changelog_delete {
    text-decoration: line-through;
    font-style: italic;
}

.form-control-default-width {
    display: inline-block;
    width: auto !important;
}

.error-legend {
    border: 0 none;
    margin-bottom: 0;
    width: auto;
    color: #a94442;
}

.error-fieldset {
    border: 1px dotted rgba(169, 68, 66, 0.5);
    -webkit-box-shadow: 0 0 0 0 #000;
    box-shadow: 0 0 0 0 #000;
    margin-bottom: 10px;
}

.bold {
    font-weight: bold;
}

.chosen-service .title-row {
    /*	border-bottom: 1px solid #888;*/
    font-weight: bold;
    margin-top: 1em;
}

.chosen-service .control-label {
    overflow: hidden;
}

.datetimepicker .input-group .input-group-addon {
    cursor: pointer;
}

.width-5 {
    width: 5px;
}

.width-10 {
    width: 10px;
}

.width-15 {
    width: 15px;
}

.width-20 {
    width: 20px;
}

.width-25 {
    width: 25px;
}

.width-30 {
    width: 30px;
}

.width-40 {
    width: 40px;
}

.width-50 {
    width: 50px;
}

.width-60 {
    width: 60px;
}

.width-70 {
    width: 70px;
}

.width-75 {
    width: 75px;
}

.width-90 {
    width: 90px;
}

.width-120 {
    width: 120px;
    min-width: 120px;
}

.width-130 {
    width: 130px;
    min-width: 130px;
}

.width-150 {
    width: 150px;
}

.width-160 {
    width: 160px;
}

.width-240 {
    width: 240px;
}

.mobile_table {
    overflow-x: auto !important;
}

#filterMainMenu {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: #fff;
    font-size: 14px;
    height: 27px;
    padding: 3px 4px;
    width: 80%;
}

#searchMainMenu {
    background-color: rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    color: #999995;
    font-size: 14px;
    height: 27px;
    padding-left: 12px;
    width: 20%;
    line-height: normal;
}

#searchMainMenu i {
    padding-left: 12px;
    padding-top: 6px;
}

.search-highlight {
    color: #31708f;
}

.icon-warning {
    height: 34px;
    width: 32px;
}

.dropDown {
    position: fixed;
}

.systemsetting-input {
    padding-left: 5px;
}

#localClienttime {
    font-weight: normal;
    background-color: #CECECE;
    /*color: #FFFFFF;*/
}

#chat-body {
    height: 500px;
}

.bold {
    font-weight: bold;
}

.graph_legend {
    padding: 4px 0;
    background-color: rgba(249, 249, 249, 1);
    opacity: 0.9;
    box-shadow: 1px 1px 3px #888;
    transition: all 1s ease 0s;
    top: 828px;
    left: 722px;
    display: block;
    margin-bottom: 2em;
}

.grapherLoader {
    position: absolute;
    padding-top: 50px;
    top: 0;
    left: 0;
    width: 947px;
    color: #000;
}

.popup-graph-container {
    position: absolute;
    /*top: 320px;*/
    left: 495px;
    width: 750px;
    height: auto;
    background-color: #FFF;
    box-shadow: 0 0 15px #9E9E9E;
    border-radius: 3px;
    z-index: 1;
    display: none;
}

#serviceGraphFlot {
    width: 100%;
    height: 260px;

}

#render-graph {
    margin-top: 1.5em;
}

#render-graph .graph {
    margin-bottom: 5em;
}

/* A (hopefully) temporary fix for modal windows in Bootstrap v3.3.1 */
/* Cfleck 16.07.2015 disabled to fix Modal Windows and "jumping" content for Dashboard*/
body {
    /*padding-right: 0 !important;*/
}

.docu-badge {
    position: absolute;
    right: 2px;
    top: -6px;
    opacity: 0.8;
    font-size: 8px;
}

.ok, .up {
    color: #449D44 !important;
}

.warning {
    color: #DF8F1D !important;
}

.critical, .down {
    color: #C9302C !important;
}

.unknown, .unreachable {
    color: #92A2A8 !important;
}

.ok-soft, .up-soft {
    color: #8BC08B !important;
}

.warning-soft {
    color: #f2c68a !important;
}

.critical-soft, .down-soft {
    color: #C5706D !important;
}

.unknown-soft, .unreachable-soft {
    color: #CFCFCF !important;
}

.bg-ok, .bg-up {
    background-color: #449D44 !important;
}

.bg-ok-soft, .bg-up-soft {
    background-color: #8BC08B !important;
}

.bg-warning {
    background-color: #DF8F1D !important;
}

.bg-warning-soft {
    background-color: #f2c68a !important;
}

.bg-critical, .bg-down {
    background-color: #C9302C !important;
}

.bg-critical-soft, .bg-down-soft {
    background-color: #C5706D !important;
}

.bg-unknown, .bg-unreachable {
    background-color: #92A2A8 !important;
}

.bg-unknown-soft, .bg-unreachable-soft {
    background-color: #CFCFCF !important;
}

.bg-downtime {
    background-color: #337ab7 !important;
}

.bg-downtime-cancelled {
    background-color: #00c4d8 !important;
}

.bg-ack {
    background-color: #774DFF !important;
    border-color: #3c00ff !important;
    z-index: 2 !important;
}

.txt-ack {
    color: #774DFF !important;
}

.txt-notification {
    color: gold !important;
}

.txt-timerange {
    color: rgba(213, 221, 246, .4) !important;
}

.txt-downtime-cancelled {
    color: #00c4d8 !important;
}

.table-color-0 {
    background-color: #dff0d8 !important;
}

.table-color-1 {
    background-color: #f2dede !important;
}

.table-color-2 {
    background-color: #d6dde7 !important;
}

.table-color-disabled {
    background-color: #c3d9f7 !important;
}

rect.ok {
    fill: #449D44;
}

rect.critical {
    fill: #C9302C;
}

rect.unknown {
    fill: #92A2A8;
}

.parentstatus {
    background: #DBDBDB;
    padding-top: 5px;
    padding-bottom: 5px;
}

.opacity-50 {
    opacity: 0.5;
}

.no-background {
    background: transparent !important;
}

/*Calendar CSS*/

#calendar-buttons {
    position: relative !important;
    margin-left: 15px !important;
    top: 0 !important;
}

.fc-grid .fc-day-number {
    float: left;
}

.calendar-button {
    float: right;
}

.fc-event .fc-event-title {
    padding: 0.5em;
    border: none;
}

.fc-day-grid-event .fc-content {
    /* deactivate force events to be one-line tall */
    white-space: normal !important;
    overflow: visible !important;
}

.fc-icon-left-single-arrow::after {
    font-size: 100% !important;
}

.fc-icon-right-single-arrow::after {
    font-size: 100% !important;
}

.fc-state-default:hover {
    background: #E5E5E5 none;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.defaultHoliday {
    background: #356E35 !important;
}

/*BlockMessages Component*/
.alert-can-fly {
    position: absolute;
    z-index: 10;
    width: 80%;
    top: 1%;
    border: 1px solid #aaa;
    box-shadow: 5px 5px 15px 0 #ccc;
}

.flying-without-margin {
    margin: 0;
}

.slider .tooltip.top {
    /* Fixes Bootstrap-slider tooltip position. */
    bottom: 20px;
}

.slider-slim .slider .slider-track {
    height: 5px;
    margin-bottom: 0px;
}

.slider-slim .slider .slider-handle {
    font-size: 8px;
    height: 15px;
    width: 15px;
    line-height: 13px;
    margin-left: -7px;
}

.status_datatable_widget {
    overflow: hidden;
    height: 350px;
}

.downtime-report-state-overview {
    border: 1px solid #fff;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
    color: #fff;
}

.search_list_item_active {
    background-color: rgba(69, 69, 69, 0.8);
    color: #ffffff;
}

/** Statusmaps **/
#statusmap-progress-icon {
    position: absolute;
    top: 300px;
    left: 45%;
    display: none;
}

.statusmap-progress-dots:after {
    content: ' .';
    animation: dots 1s steps(5, end) infinite;
}

@keyframes dots {
    0%, 20% {
        color: rgba(0, 0, 0, 0);
        text-shadow: .25em 0 0 rgba(0, 0, 0, 0),
        .5em 0 0 rgba(0, 0, 0, 0);
    }
    40% {
        color: #449D44;
        text-shadow: .25em 0 0 rgba(0, 0, 0, 0),
        .5em 0 0 rgba(0, 0, 0, 0);
    }
    60% {
        text-shadow: .25em 0 0 #449D44,
        .5em 0 0 rgba(0, 0, 0, 0);
    }
    80%, 100% {
        text-shadow: .25em 0 0 #449D44,
        .5em 0 0 #449D44;
    }
}

#statusmap-progress-icon span {
    text-align: center;
}

#node_search {
    background-color: #4c4f53;
    padding: 10px;
    width: 250px;
    color: #FFF;
    position: absolute;
    left: -1px;
    border-bottom-right-radius: 5px;
    box-shadow: 5px 5px 15px #888888;
    z-index: 900;
}

#node_search input {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: #fff;
    font-size: 14px;
    height: 27px;
    padding: 3px 4px;
    width: 80%;
    margin-top: 5px;
}

#node_search button {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: #fff;
    font-size: 14px;
    height: 27px;
    padding: 3px 4px;
    margin-left: 2px;
    position: absolute;
    width: 46px;
    margin-top: 5px;
}

#autocomplete_results {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    width: 602px;
    background: transparent;
    border: 0 !important;
    box-shadow: none !important;
    position: absolute;
}

#autocomplete_results a {
    width: 200px;
    padding: 2px 5px 2px 5px;
}

a.autocomplete-items {
    background-color: #4c4f53;
    border: 1px solid #FFF;
    padding-left: 5px;
}

a.autocomplete-items:hover {
    background: linear-gradient(to right, transparent, seashell);
    text-decoration: none;
    cursor: pointer;
}

a.autocomplete-items {
    color: #FFF;
}

.popoverTable {
    color: rgba(90, 90, 90, 1) !important;
}

/** Fix for scrollable infowindows **/
.popoverTable > tbody > tr > td {
    font-size: 11px;
    padding: 1px !important;
}

.popoverListTable > tbody > tr > td {
    font-size: 11px;
    padding: 1px !important;
}

.statusmapInfoBox {
    max-height: 700px;
    overflow-y: auto;
}

/** ***** **/

#calendar .popover {
    z-index: 10;
}

#calendar .popover-title {
    font-size: 85% !important;
    color: #31708f !important;
}

#calendar .popover-content {
    font-size: 75% !important;
    color: #4c4f53 !important;
}

.fc-event-title {
    padding: 0 1px;
    white-space: nowrap;
    overflow: hidden;
}

.evaluation-period {
    /*background:#FFFFF0!important;*/
    background-color: #FFF8DC;
    font-weight: bold;
}

/* state unknown*/
.btn-unknown {
    color: #ffffff;
    background-color: #A4BAC1;

}

.btn-unknown:hover,
.btn-unknown:focus,
.btn-unknown:active,
.btn-unknown.active {
    color: #ffffff;
    background-color: #869499;
    border-color: #869499;
}

.menustats {
    display: inline-block;
    margin: 0;
    padding: 11px 34px 11px 0 !important;
    background: 0 0;
    vertical-align: top;
    list-style: none;
    color: #bbb !important;
}

.menustats > li {
    display: inline-block;
}

.jvectormap-zoomin i {
    color: #c4c4c4;
}

.jvectormap-zoomout i {
    color: #c4c4c4;
}

.custom-tree li {
    padding: 0 !important;
}

.custom-tree li span {
    border: none !important;
}

.custom-tree li.parent_li > span:hover,
.custom-tree li.parent_li > span:hover + ul li span {
    background-color: transparent !important;
    background: none !important;
    border: 1px solid yellow;
    color: #337AB7 !important;
}

.custom-tree > ul {
    padding-left: 0;
}

.custom-tree ul ul {
    padding-left: 34px;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

/*
.custom-tree li.parent_li > span:hover {
	background-color: #4F9E4F;
	border: 1px solid #468C46;
	color: #ffffff;
}
*/
.custom-tree li.parent_li > span:hover + ul li::before {
    border-left-color: #FAA937;
}

.custom-tree li.parent_li > span:hover + ul li::after {
    border-top-color: #FAA937;
}

.custom-tree li.parent_li > span:hover + ul li span {
    background: #FDDFB3 !important;
    border: 1px solid #FAA937;
    color: #4C4F53 !important;
}

label[class^='aco-delete']:after {
    font-family: "FontAwesome";
    padding-left: 5px;
    content: "\f014";
    color: #C9302C;
}

label[class^='aco-create']:after, label[class^='aco-add']:after {
    font-family: "FontAwesome";
    padding-left: 5px;
    content: "\f067";
    color: #449D44;
}

label[class^='aco-edit']:after {
    font-family: "FontAwesome";
    padding-left: 5px;
    content: "\f044";
    color: #57889C;
}

label[class^='aco-index']:after {
    font-family: "FontAwesome";
    padding-left: 5px;
    content: "\f06e";
    color: #57889C;
}

label[class^='aco-copy']:after {
    font-family: "FontAwesome";
    padding-left: 5px;
    content: "\f0c5";
    color: #57889C;
}

label[class^='aco-host']:after, label[class^='aco-service']:after {
    font-family: "FontAwesome";
    padding-left: 5px;
    content: "\f00b";
    color: #57889C;
}

.docs-container {
    padding: 5px;
}

.docs-container h5 {
    padding-left: 15px;;
}

.row {
    /* TODO Remove this one day and fix everything else! Work WITH bootstrap, not against it. */
    margin-left: 0;
    margin-right: 0;
}

.grid-stack {
    min-height: 300px;
}

.grid-stack-item-content {
    border: 1px solid gray;
}

.grid-stack-placeholder {
    background-color: #337ab7;
}

.grid-stack-item-content .jarviswidget {
    margin-bottom: 0;
}

.grid-stack-item-content .jarviswidget div {
    border: 0px;
}

.grid-stack-item div.ui-icon {
    background: none !important;
}

.grid-stack-item-content .jarviswidget div .data-widget-colorbutton {
    min-width: 19px;
}

.grid-stack-item-content .jarviswidget div .jarviswidget-edit-btn {
    border-right: 1px solid rgba(0, 0, 0, .09);
}

.ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/* documentation wiki */
.wiki-category {
    border-bottom: 1px dashed #888;
}

.wiki-category > h3 {
    padding: 10px 0;
    margin: 0;
}

.wiki-category .search-results {
    margin: 0 0 0 1em;
    padding: 0;
    border-top: none;
}

.wiki-search-results .search-results {
    padding: 10px 5px 0 5px;
    border-top: 1px dashed #888;
}

.search-results > h4 {
    font-size: 1.25em;
}

.wiki-category:last-child, .wiki-search-results .search-results:first-child {
    border: none;
}

.pieChartHosts,
.pieChartServices {
    text-align: center;
}

.pagingInterval {
    width: 310px;
    padding-top: 8px;
    display: flex;
}

.pagingIntervalValue {
    font-weight: bold;
    padding: 0px 3px;
}

.service-status-list-body .slider-slim,
.host-status-list-body .slider-slim {
    display: none;
}

.rotateTabs .form-group-slider {
    width: 350px;
    margin-bottom: -10px;
}

.tabTargetDestination {
    border: 1px solid #EEE;
    width: 5em;
    height: 33px
}

.detailsForPiechart {
    position: absolute;
    background-color: #FFF;
    top: 0px;
    height: 140px;
    width: 100%;
    display: none;
}

.toggleDetailsForPiechart {
    width: 100%;
    border-top: 1px solid #eee !important;
    border-bottom: 1px solid #eee !important;
    margin: 5px 0px;
    cursor: pointer;
}

.node-list {
    height: 211px;
}

.height-100 {
    height: 100%;
}

#node-list-search {
    width: 100%;
    border: none;
    border-bottom: 1px solid #c2c2c2;
    padding-left: 10px;
}

.dashboard-table {
    padding-top: 3px !important;
    padding-bottom: 3px !important;
    font-size: 85%;
}

.tab-select-menu-fix {
    color: #333 !important;
}

.tab-select-menu-fix:hover {
    color: #FFF !important;
}

.tabTargetDestination {
    border: 1px solid #EEE;
    width: 5em;
    height: 33px
}

.tachoPreviewContainer {
    position: absolute;
    z-index: 2;
    background: rgba(100, 100, 100, 0.5);
    top: 0px;
    left: 0px;
    width: 100%;
    text-align: center;
    padding-top: 15px;
    height: 414px;
}

#nag_longoutput_content,
#verifyOutput {
    white-space: pre;
}

.white-space-nowrap {
    white-space: nowrap;
}

#FilterIndexForm label:after {
    content: '';
}

.macroPassword {
    filter: blur(2px);
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='2');
    -ms-filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='2');
}

.datepicker {
    z-index: 1051 !important;
}

.editItemWidth {
    min-width: 52px;
    max-width: 52px;
}

.tableStatewidth {
    min-width: 155px;
}

.cursor-default {
    cursor: default;
}

#scroll-top-container {
    background: rgba(71, 69, 68, 0.8);
    color: #FFF;
    position: fixed;
    bottom: 30px;
    right: 30px;
    padding: 1em;
    border-radius: 8px;
    display: none;
    z-index: 2;
}

.text-transform-none {
    text-transform: none !important;
}

.select_all, .deselect_all {
    font-style: italic;
}

.select_all:before {
    font-family: "FontAwesome";
    font-style: normal;
    padding-right: 5px;
    content: "\f046";
}

.deselect_all:before {
    font-family: "FontAwesome";
    font-style: normal;
    padding-right: 5px;
    content: "\f096";
}

#copyAll {
    color: #333;
    text-decoration: none;
}

.login-copyright {
    background-color: #fff;
}

.service_table_host_header {
    background-color: #EEEEEE;
}

.status_headline {
    margin: 12px 0 28px;
}

.disableLink {
    pointer-events: none;
    cursor: default;
}

.label-forced {
    display: inline !important;
    padding: .2em .6em .3em !important;
    font-size: 75% !important;
    font-weight: 700 !important;
    line-height: 1 !important;
    color: #fff !important;
    text-align: center !important;
    white-space: nowrap !important;
    vertical-align: baseline !important;
    border-radius: .25em !important;
}

.bg-color-danger {
    background: #d95450;
}

.a-clean {
    text-decoration: none !important;
    color: #333;
}

.server-clock {
    font-weight: normal !important;
    padding-left: 4px !important;
    padding-right: 4px !important;
}

.menu-search-border {
    border-bottom: 1px solid #525151;
}

.smart-form .checkbox i {
    position: absolute;
    top: 3px;
    left: 0;
    display: block;
    /*width: 10px;
    height: 10px;*/
    outline: none;
    border-width: 1px;
    border-style: solid;
    background: #FFF;
}

.smart-form .checkbox input + i:after {
    content: '\f00c';
    /* top: -5px;*/
    left: 0px;
    /*width: 10px;
    height: 10px;
    font: normal 9px/19px FontAwesome; */
    text-align: center;
}

.small-checkbox-label-table {
    padding-left: 0px !important;
    margin-right: 23px !important;
}

.checkbox-success {
    border-color: #409240 !important;
}

.checkbox-success:after {
    color: #5cb85c !important;
}

.checkbox-warning {
    border-color: #de8201 !important;
}

.checkbox-warning:after {
    color: #de8201 !important;
}

.checkbox-danger {
    border-color: #A90329 !important;
}

.checkbox-danger:after {
    color: #A90329 !important;
}

.checkbox-ok, .checkbox-up {
    border-color: #409240 !important;
}

.checkbox-ok:after, .checkbox-up:after {
    color: #5cb85c !important;
}

.checkbox-critical, .checkbox-down {
    border-color: #A90329 !important;
}

.checkbox-critical:after, .checkbox-down:after {
    color: #A90329 !important;
}

.checkbox-unknown, .checkbox-unreachable {
    border-color: #4c4f53 !important;
}

.checkbox-unknown:after, .checkbox-unreachable:after {
    color: #92a2a8 !important;
}

.checkbox-default {
    border-color: #4c4f53 !important;
}

.checkbox-default:after {
    color: #92a2a8 !important;
}

.checkbox-primary {
    border-color: #265986 !important;
}

.checkbox-primary:after {
    color: #3276B1 !important;
}

.smart-form .bootstrap-tagsinput {
    padding-left: 37px;
    font-size: 12px;
    line-height: 1.5;
    /*height: 28px;*/
    min-height: 28px;
    width: auto;
    padding-bottom: 0;
    padding-top: 0;
}

.smart-form .bootstrap-tagsinput input {
    padding-top: 5px;
}

.smart-form .bootstrap-tagsinput .label {
    font-size: 12px;
    line-height: 14px;
}

#notFoundSvg {
    font-size: 18em;
    position: relative;
    padding: 0;
    padding-bottom: 10%;
}

.textline {
    font-size: .5em;
}

.scaling-svg {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
}

.text-add {
    stroke-width: 2px;
    stroke-dasharray: 7% 28%;
    stroke-linecap: square;
    -webkit-animation: stroke-offset 2s ease-in-out;
    animation: stroke-offset 2s ease-in-out;

}

.text-add:nth-child(1) {
    stroke-dashoffset: 7%;
}

.text-add:nth-child(2) {
    stroke-dashoffset: 14%;
}

.text-add:nth-child(3) {
    stroke-dashoffset: 21%;
}

.text-add:nth-child(4) {
    stroke-dashoffset: 28%;
}

.text-add:nth-child(5) {
    stroke-dashoffset: 35%;
}

@-webkit-keyframes stroke-offset {
    0% {
        stroke-dashoffset: 35%;
        stroke-dasharray: 20% 87.5%;
        stroke-width: 35px;
    }
}

@keyframes stroke-offset {
    0% {
        stroke-dashoffset: 35%;
        stroke-dasharray: 20% 87.5%;
        stroke-width: 35px;
    }
}

.text-danger-important {
    color: #a94442 !important;
}

.chosen-container .chosen-results li.group-result {
    padding-left: 10px !important;
    font-weight: bold !important;
}

.nodes-container-name {
    display: inline-flex;
    max-width: 80%;
}

.containers-dd {
    max-width: 100%;
}

.ajax-notifications {
    height: 378px;
}

.browser-action {
    background-color: rgba(255, 255, 255, 0.3);
    width: 100%;
    min-height: 40px;
    font-size: 16px;
    text-align: center;
    padding-top: 7px;
}

.browser-action:hover {
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

.font-size-50 {
    font-size: 50px;
}

.text-lightGray {
    color: #CCC;
}

.browser-state-green {
    background-color: #5cb85c;
}

.browser-state-yellow {
    background-color: #de8201;
}

.browser-state-red {
    background-color: #D9534F;
}

.browser-state-gray {
    background-color: #92a2a8;
}

.browser-state-blue {
    background-color: #3276B1;
}

.browser-border {
    border: 1px solid #ddd;
}

#global-loading {
    background: rgba(71, 69, 68, 0.8);
    color: #FFF;
    position: fixed;
    top: 50%;
    left: 50%;
    border-radius: 16px;
    width: 250px;
    height: 250px;
    z-index: 9999;
    font-size: 100px;
    text-align: center;
    padding-top: 50px;
    margin-top: -125px;
    margin-left: -125px;
    display: none;
}

.state-button {
    padding: 0 5px;
}

.state-button-small {
    padding: 0 2px;
    font-size: 12px;
}

.tooltip-arrow-image {
    border-right-color: transparent !important;
}

.tooltip-inner-image {
    padding: 5px 10px;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    border-radius: 0;
    color: #fff;
    text-align: center;
    text-decoration: none;
    /*background-color: rgba(255, 255, 255, 0.6);*/
    background-color: transparent;
    max-width: 1000px;

}

.notify-label {
    display: inline-block;
    line-height: 1.4;
    min-width: 150px;
}

.notify-label-small {
    display: inline-block;
    line-height: 1.6;
    min-width: 90px;
    margin-top: 2px;
}

.config-flex-inner {
    display: flex;
    flex-wrap: wrap;
    padding-inline-start: 0px;

}

.config-flex-inner li {
    flex: auto;
    max-width: 16%;
    list-style-type: none;
}

#widget-container {
    background: #EEEEEF;
}

.map-summary-state-popover {
    position: fixed;
    top: 50px;
    right: 0;
    width: 30%;
    z-index: 99999;
}

#mapToolbar {
    width: 40px;
    height: 300px;
    border: 1px solid #333;
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #3a3633;
}

#mapToolsDragger {
    width: 100%;
    height: 15px;
    background-color: #201d1c;
    cursor: move;
}

.mapToolbarTool {
    color: #c0bbb7;
    border: 1px solid #403f3d;
    border-radius: 4px;
    background-color: #403f3d;
    margin: 4px;
    text-align: center;
    padding-bottom: 2px;
}

.mapToolbarTool:hover {
    color: #fff;
}

.mapToolbarLine {
    color: #c0bbb7;
    background-color: #403f3d;
    height: 2px;
    padding: 1px;
}

.selectedMapItem {
    background: #0088cc;
}

.has-error-border {
    border: 1px solid #a94442;
}

.bg-color-black {
    background: #000000;
}

.ui-resizable-helper {
    border: 2px dotted #00F;
}

#layersBox {
    width: 250px;
    height: 200px;
    border: 1px solid #333;
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #3a3633;
}

#layersBoxDragger {
    width: 100%;
    height: 15px;
    background-color: #201d1c;
    cursor: move;
}

.layersContainer {
    height: 180px;
}

.mapLayer {
    padding: 5px;
    color: #c0bbb7;
    background-color: #403f3d;
    margin-top: 5px;
}

.selectedLayer {
    background-color: #0088cc;
    color: #FFF;
}

.dashboard-tab-hover-fix:hover {
    color: #fff !important;
}

#manyThanksForYourSupport {
    background: rgba(71, 69, 68, 0.8);
    color: #60fb62;
    position: fixed;
    top: 50%;
    left: 50%;
    border-radius: 16px;
    width: 250px;
    height: 250px;
    z-index: 9999;
    font-size: 20px;
    text-align: center;
    padding-top: 50px;
    margin-top: -125px;
    margin-left: -125px;
    display: none;
}

/* dashboards host/service status overview */
.bg-host-0, .bg-service-0 {
    background-color: #449D44 !important;
}

.bg-service-1 {
    background-color: #DF8F1D !important;
}

.bg-host-1, .bg-service-2 {
    background-color: #C9302C !important;
}

.bg-host-2, .bg-service-3 {
    background-color: #92A2A8 !important;
}

.bg-host-background-icon:after, .bg-service-background-icon:after {
    font-family: "FontAwesome";
    padding-left: 5px;
    position: absolute;
    bottom: 0px;
    right: 5px;
    font-size: calc(2.5vw + 2.5vh);
}

.bg-host-front-0:after, .bg-service-front-0:after {
    content: "\f058";
    color: rgba(255, 255, 255, 0.1);
}

.bg-service-front-1:after {
    content: "\f06a";
    color: rgba(255, 217, 56, 0.1);
}

.bg-host-front-1:after, .bg-service-front-2:after {
    content: "\f06a";
    color: rgba(255, 255, 255, 0.1);
}

.bg-host-front-2:after, .bg-service-front-3:after {
    content: "\f06a";
    color: rgba(255, 255, 255, 0.1);
}

.grafana-row {
    border-style: solid;
    border-width: 1px 1px 1px 7px;
    border-color: #dde4ed #dde4ed #dde4ed #667896;
    position: relative;
    border-radius: 7px 3px 3px 7px;
    background: #f5f6f9;
    /*
    background: repeating-linear-gradient(
            45deg,
            #fff,
            #fff 10px,
            #f5f6f9 10px,
            #f5f6f9 20px
    );*/
}

.grafana-panel {
    background-color: #fff;
    border-style: solid;
    border-width: 1px 1px 1px 7px;
    border-color: #dde4ed #dde4ed #dde4ed #394556;
    position: relative;
    border-radius: 7px 3px 3px 7px;
}

.resetMinHeight {
    min-height: 0px !important;
}

iframe {
    -webkit-backface-visibility: hidden
}

#myTabContent1 .widget-body {
    word-wrap: break-word;
}

.no-required:after {
    content: '' !important;
}

.has-error-no-form {
    border: 1px solid #b94a48;
}

.has-error-force .control-label {
    border-color: #b94a48;
}

@media (min-width: 768px) {
    .form-horizontal .control-label {
        /*padding-top: 7px;*/
        margin-bottom: 5px;
        text-align: left;
    }
}

.no-border-bottom {
    border-bottom: none !important;
}

input[type=text]:focus + .input-group-addon-no-focus {
    border-color: #ccc;
    background-color: #eee;
    color: #555;
}

.input-group-addon-no-focus-label-success {
    background-color: #5cb85c !important;
    border-color: #ccc;
}

.input-group-addon-no-focus-label-danger {
    background-color: #d9534f !important;
    border-color: #ccc;
}

.warning-glow {
    color: #FCAB20;
    text-shadow: 0px 0px 9px rgba(252, 137, 23, 0.6);
}

.label-default-off {
    max-width: unset !important;
    min-height: unset !important;
}

.label-group .label {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 2px !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    color: #333;
    background-color: white;
    border-color: #CCC;
}

.label-group .label .no-border {
    border-color: transparent;
}


.label-breadcrumb .label:not(:last-child):after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent;
    position: absolute;
    top: 50%;
    margin-top: -11px;
    left: 100%;
    z-index: 3;
}

.label-breadcrumb-success .label:not(:last-child):after {
    border-left: 7px solid #5cb85c;
}

.label-breadcrumb-danger .label:not(:last-child):after {
    border-left: 7px solid #d9534f;
}

.label-breadcrumb-primary .label:not(:last-child):after {
    border-left: 7px solid #428bca;
}

.label-breadcrumb-default .label:not(:last-child):after {
    border-left: 7px solid #adadad;
}

.label-breadcrumb .label:not(:last-child):before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent;
    border-left: 7px solid rgb(173, 173, 173);
    position: absolute;
    top: 50%;
    margin-top: -11px;
    margin-left: 1px;
    left: 100%;
    z-index: 3;
}

.label-breadcrumb .label:first-child {
    padding: 1px 2px 1px 1px;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.label-breadcrumb .label:last-child {
    padding: 1px 5px 1px 10px;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.label-group .label-xs {
    padding: 1px 50px;
    font-size: 12px;
    line-height: 1.5;
}

.label-group .label-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    border-left: 7px solid #5cb85c;
}

.label-group .label-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
    border-left: 7px solid #d9534f;
}


.label-group .label-primary {
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
    border-left: 7px solid #428bca;
}


.label-group .label-default {
    color: #fff;
    background-color: #adadad;
    border-color: #a0a0a0;
    border-left: 7px solid #adadad;
}

.label-group {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.label-group > .label {
    position: relative;
    float: left;
}


.label-group .label + .label,
.label-group .label + .label-group,
.label-group .label-group + .label,
.label-group .label-group + .label-group {
    margin-left: -1px;
}

.label-group a:link,
.label-group a.label:focus,
.label-group a.label:visited,
.label-group a.label:active,
.label-group a.label:hover {
    color: #333;
}

.label-light.has-error{
    color: #a94442;
}

.info-block-helptext {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #737373;
}

.strikethrough {
    text-decoration: line-through;
}

.fa-stack .cornered {
    position: absolute;
    bottom: 0px !important;
    line-height: 1em;
    text-shadow: 1px 1px 1px #BDBDBD;
    font-size: 11px;
}

.fa-stack .cornered-lr {
    text-align: right;
}

.fa-stack .cornered-ll {
    text-align: left;
}

.fa-stack .cornered-tr {
    top: 0px !important;
    text-align: right;
}

.fa-stack .cornered-tl {
    top: 0px !important;
    text-align: left;
}

.bordered-vertical-on-left{
    border-left:5px inset #428bca;
    border-radius: 7px;
}
.dropzoneStyle{
    height:100px;
    padding: 15px;
}